
<!DOCTYPE html>
<head>
<title>Scholarly-stats</title>

</head>
<body class="dashboard-page">
	
	<%= render :partial => '/layouts/side_bar_navigation'%>

	<%= render :partial => '/layouts/header'%>
        
	
		<div class="main-grid">
        
        <br>
        <ol class="breadcrumb"> <li><a href="" onclick="window.location = '/loginpage'">Home</a></li> <li><a href="/loginpage/report">Counter and Custom Reports</a></li>  </ol>
        
	

<div class="">
  <div class="row">
  
  <div class="col-sm-6 "><div class="acnt-heading"><strong>Account Name</strong> : UCR Riverside Libraries</div></div>
  <div class="col-sm-4 text-right" style="padding: 0px;margin-top: 0px;">
  
 <label style="padding-top:5px;" class="col-sm-6"> Reporting period: </label><div class="col-sm-6"> <%= select_tag "year", options_for_select([["2016","2016"],["2015","2015"],["2014","2014"],["2013","2013"]]) %></div>
</div>
   
 </div>
  
  </div>
</div>

<br>


	<%= render :partial => 'counter'%>		
			
    <br>
    
    <br>
	  </div>
		<!-- footer -->
		<%= render :partial => '/layouts/footer'%>

		<!-- //footer -->
	</section>
	<script src="js/bootstrap.js"></script>
	
  
</body>
</html>
<script type="text/javascript">
	$('#year').change(function(){
		var year = $(this).val();
		$.ajax({
		type: "GET",
		url: "/counter_and_custom_reports/show_reports_by_year",
		data:'year='+year,
		success: function(data){
		}
		});
	});
</script>