
<!DOCTYPE html>
<body  class="dashboard-page">

 <section class="wrapper scrollable">
 
    
<html>
    <head>
 <script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/drilldown.js"></script>
<script src="https://code.highcharts.com/modules/no-data-to-display.js"></script>

	<%= render :partial => '/layouts/header'%>
  	<%= render :partial => '/layouts/side_bar_navigation'%>


<!-- tables -->
<link rel="stylesheet" type="text/css" href="/images/libraries/css/table-style.css" />



 
    <!-- header end -->
    <ol class="breadcrumb"> <li><a href="" onclick="window.location = '/loginpage'">Home</a></li>
         <li><a href="/libraries/platformDetails/Lcollapsefour-03">Library Account Details</a></li>
     </ol>

    <h4 >Library Account Details</h4>
    <br>
    <p class="pad-top10 mar-btm20">This section shows details for the library including library name, address, and administrator details. Please review the details and contact us if any of the details need to be updated.</p>
   <br>
    <!--breadcrumb Ends-->
    <style>
	.green{color:green;font-weight: bold}
    </style>


<div class="clearfix"></div>
<div class="agile-Updating-grids">  <div class="agile-grids">
	<div class="col-md-12" style="padding:0px;">
    <div class="span12">
      <div class="col-md-12" >
      <div class="well ownTblContent">
         <div class="table-responsive"> 
			<table class="table table-striped">
			  <thead>
			  <tr><th>Library Details</th></tr>
			  </thead>
              <tbody>

                <tr>
                  <td valign="top">Library Name:</td>
                  	<td valign="top"><strong><%= @acct_details.name %></strong></td>
                </tr>
                <tr>
                
                  <td valign="top">Current Contract Signed on:</td>
                
                  	<td valign="top"><%= @acct_details.contract_sign_on %></td>
                </tr>
                <tr>
                  <td valign="top">Max. no. of Platforms:</td>
                  <td valign="top"><%= @acct_details.number_of_platforms %></td>
                </tr>
                <tr>
                  <td valign="top">Library Code:</td>
                  <td valign="top"><%= @acct_details.account_code %></td>
                </tr>
                <tr>
                  <td valign="top">Activation Type:</td>
                  <td valign="top"><p class="green"><%= @acct_details.activation_status %></p></td>
                </tr>

              </tbody>
            </table>
          </div>
          </div>
        </div>
</div>
<div class="span12">
      <div class="col-md-6" >
	  	<div class="well ownTblContent">
         <div class="table-responsive"> 
			<table class="table table-striped">
			  <thead>
			  <tr><th>Administrator Details</th></tr>
			  </thead>
	           <tbody>
	           	
                <tr>
                  <td valign="top"><p>First Name:</p></td>
                   
                  	<td valign="top"><%= @acct_info.admin_first_name %></td>
                  
                                    
                </tr>
                <tr>
                  <td valign="top"><p>Last Name:</p></td>
                   
                  	<td valign="top"><%= @acct_info.admin_last_name %></td>
                  
                   
                </tr>
                <tr>
                  <td valign="top"><p>Email:</p></td>
                   
                  	<td valign="top"><%= @acct_info.admin_email %></td>
                  
                  
                </tr>
                <tr>
                  <td valign="top"><p>Phone:</p></td>
                  
                  
					<td valign="top"><strong> <%= @acct_info.admin_phone %> </strong></td>
                  
                </tr>
              </tbody>
            </table>
          </div>
          </div>
        </div>

      <div class="col-md-6"  >
      <div class="well ownTblContent">
         <div class="table-responsive"> 
			<table class="table table-striped">
			  <thead>
			  <tr><th>Secondary Contact Details</th></tr>
			  </thead>
	           <tbody>
                <tr>
                  <td valign="top"><p>First Name:</p></td>
                   
                  	<td valign="top"><%= @acct_info.admin_first_name2 %></td>
                  
                                    
                </tr>
                <tr>
                  <td valign="top"><p>Last Name:</p></td>
                   
                  	<td valign="top"><%= @acct_info.admin_last_name2 %></td>
                  
                   
                </tr>
                <tr>
                  <td valign="top"><p>Email:</p></td>
                   
                  	<td valign="top"><%= @acct_info.admin_email2 %></td>
                  
                  
                </tr>
                <tr>
                  <td valign="top"><p>Phone:</p></td>
                  
                  
					<td valign="top"><strong> :<%= @acct_info.admin_phone2 %> </strong></td>
                  
                </tr>

              </tbody>
            </table>
          </div>
          </div>
        </div>
 </div>
 <div class="span12">  
      <div class="col-md-6"  >
      <div class="well ownTblContent">
         <div class="table-responsive"> 
			<table class="table table-striped">
			 <thead>
			  <tr><th>Contact Address Details</th></tr>
			  </thead>
             <tbody>
                <tr>
                  <td valign="top"><p>Address Line1:</p></td>
                   
                  	<td valign="top"><%= @acct_info.address_line_1 %></td>
                  
                  
                </tr>
                <tr>
                  <td valign="top"><p>Address Line2:</p></td>
                   
                  	<td valign="top"><%= @acct_info.address_line2 %></td>
                  
                  
                </tr>
                <tr>
                  <td valign="top"><p>City:</p></td>
                   
                  	<td valign="top"> <%= @acct_info.city %></td>
                  
                  
                </tr>
                <tr>
                  <td valign="top"><p>State:</p></td>
                   
                  	<td valign="top"><%= @acct_info.state %></td>
                  
                  
                </tr>
                <tr>
                  <td valign="top"><p>Country:</p></td>
                   
                  	<td valign="top"><%= @acct_info.country %></td>
                  
                  
                </tr>
                <tr>
                  <td valign="top"><p>Postal/Zip Code:</p></td>
                   
                  	<td valign="top"><%= @acct_info.pincode %></td>
                  
                  
                </tr>
              </tbody>
            </table>
          </div>
          </div>
        </div>


      <div class="col-md-6" >
      <div class="well ownTblContent">
         <div class="table-responsive"> 
			<table class="table table-striped">
				<thead>
			  <tr><th>Billing Address Details</th></tr>
			  </thead>
              <tbody>
                  
					<tr>
                  		<td valign="top"><p>Address Line1:</p></td>
						 
                  			<td valign="top"><%= @acct_info.bill_address_1 %></td>
                  		
                  		
                	</tr>
                	<tr>
                  		<td valign="top"><p>Address Line2:</p></td>
                  		 
                  			<td valign="top"><%= @acct_info.bill_address_2 %></td>
                  		
                  		
                	</tr>
                	<tr>
                  		<td valign="top"><p>City:</p></td>
                  		 
                  			<td valign="top"><%= @acct_info.bill_city %></td>
                  		
                  		
                	</tr>
                	<tr>
                  		<td valign="top"><p>State:</p></td>
                  		 
                  			<td valign="top"><%= @acct_info.bill_state %></td>
                  		
                  		
                	</tr>
                	<tr>
                  		<td valign="top"><p>Country:</p></td>
                  		 
                  			<td valign="top"><%= @acct_info.bill_country %></td>
                  		
                  		
                	</tr>
                	<tr>
                  		<td valign="top"><p>Postal/Zip Code:</p></td>
                  		
                  		
							<td valign="top"><strong> <%= @acct_info.bill_pin_code %> </strong></td>
                  		
                	</tr>
              </tbody>
            </table>
          </div>
          </div>
        </div>
</div>
</div></div>
	<div class="clearfix"></div>
</div> 
</div>
</div>
        	

</section>
            <%= render :partial => '/layouts/footer'%>

</body>
</div>      
      </head>
</html>
 
