<p id="notice"><%= notice %></p>

<h1>Plats</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Created by</th>
      <th>Updated by</th>
      <th>Platformname</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @plats.each do |plat| %>
      <tr>
        <td><%= plat.name %></td>
        <td><%= plat.created_by %></td>
        <td><%= plat.updated_by %></td>
        <td><%= plat.platformname %></td>
        <td><%= link_to 'Show', plat %></td>
        <td><%= link_to 'Edit', edit_plat_path(plat) %></td>
        <td><%= link_to 'Destroy', plat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Plat', new_plat_path %>
