<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @plat.name %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @plat.created_by %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @plat.updated_by %>
</p>

<p>
  <strong>Platformname:</strong>
  <%= @plat.platformname %>
</p>

<%= link_to 'Edit', edit_plat_path(@plat) %> |
<%= link_to 'Back', plats_path %>
