<%= simple_form_for(@platform) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :abbrev %>
    <%= f.input :name %>
    <%= f.input :created_by %>
    <%= f.input :updated_by %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
