<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @users.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @users.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @users.email %>
</p>

<p>
  <strong>Role:</strong>
  <%= @users.role %>
</p>

<%= link_to 'Edit', edit_user_path(@users) %> |
<%= link_to 'Back', users_path %>
