
<% if @results.present? %>
	<%= render :partial => 'search_form'%>
	<br>
	<div class="alert alert-info">
  You can download the full Cost per Use report by uploading cost data here <a href="/import_data/index"><u>Upload Data</u></a>.</div>

	<div class="agile-grids">
		
	<div class="col-md-12" style="padding:0px;">
	<div class="col-md-8 nopaddingleft" >
		<label >Search By ISSN/ISBN </label><br>
		<label class="mt-10">Last Update :Nov-2016</label>
		</div>
		<div class="col-md-2 pull-right nopaddingright" >
			<div class="button raised">
	   			<a href="/search_by_issn/csv" id="downloadAnchor" class="hoverable" onclick="javascript:downloadCPU(1);"> <div class="anim"></div><span>Download</span></a>
	    	</div></div>

	<br>
	<div class="col-md-12 mt-10	" style="padding:0px;">
	 <div class="table-responsive ownTblContent">
	 	<table class="table table-striped" >
		<thead>
							  <tr>
								<th align="left">ISSN/ISBN</th>
								<th align="left">Journal Title</th>
								<th align="left">Collection Platform</th>
								<th align="left">Usage</th>
								<th align="left">Cost</th>
								<th align="left"></th>
								<th align="left">Cost per Usage</th>
							  </tr>
							</thead>
	<tbody>
		<% if @results.present? %>
			<% @results.each do |cr| %>
				<tr>
					<td data-th="Name"><span class="bt-content">1023-6244</span>
						<input type="hidden" id="issnId_1" value="1023-6244"></td>
					<td data-th="Age"><span class="bt-content"><%= cr.journal_title %></span>
						<input type="hidden" id="journalId_1" value="Marine and Freshwater Behaviour and Physiology"></td>
					<td data-th="Gender"><span class="bt-content"><%= cr.mps_collection_platform %></span>
						<input type="hidden" id="pubId_1" value="IngentaConnect"></td>
					<td data-th="Height" ><span class="bt-content"><%= cr.ytd %></span></td>


					<input type="hidden" id="usage" value="<%= cr.ytd %>"></td>
					<td data-th="Province">
									
						<input class="span7 margin_right4px" onkeyup="removeStyle(this.id)" onchange="removeStyle(this.id)" onkeypress="return isNumberKey(event)" name="costId_1" id="costId_1" type="text" value=""> </td>
						
						<td data-th="Height"><a href="javascript:;"  class="calculator"  data-toggle="tooltip" title="Calculate CPU" > <%= image_tag("calculater.png")%></a></td>

		    		<td data-th="Height"><input type="hidden" id="ytdId_1" value="0"></td>
					
						<td data-th="Sport"><input type="text" class="span5" readonly id="cpuId_1" value=""></td>
					
				</tr>
			<%end%>
		<%end%>
		  
		</table>
		</div></div>
		<div class="col-md-12" style="padding:0px;"><strong>Click <a id="addAction"><%= image_tag("close.gif")%></a> to add</strong></div>
		
	</div>
	</div>
	<div class="clearfix"> </div>
	</div>

	<div id ="test1"> </div>


	<div class="clearfix"></div>
		<br><br>

		
	<div id="data"></div>
<%end%>
<script type="text/javascript">
  jQuery(document).ready(function() {
    jQuery('#addAction').click( function () {
      var val = $('#cpuId_1').val();
      if (val != '') {
        var $quantity = $('.table-responsive table').length;
        var $tr = $(".table").clone().addClass('table'+$quantity);
        $tr.appendTo('.table-responsive');    
        $('.table'+ $quantity + '> thead > tr:last').append("<th>Remove</th>");
        $('.table'+ $quantity + '> tbody > tr:last').append('<td data-th="remove"><a href="javascript:;" onclick="remove(' + $quantity + ');" id="remove"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>');
        $('.table'+$quantity ).removeClass('table');
      }
    });


    $(".calculator").click(function(){
     var type = $('#costId_1').val();
     var usage = $('#usage').val();
     $.ajax({
       type: 'GET',
       url: '/search_by_issn/get_cost_per_usage',
       data : { type: type, usage: usage},
        success: function(cost){
          // $sourcerepo_html = $("<div class= 'cost'>" + cost + "</div>");
          // $('#test1').append($sourcerepo_html);
          // $("#test1").html(cost);
          $("#cpuId_1").val(cost);
        }
     	});
 		});
  });
  function remove(elem) {
    $('.table' +elem).hide();
  }
</script>


 
