
  <body  class="dashboard-page">
 
 
 <section class="wrapper scrollable">
  <%= render :partial => '/layouts/header'%>
  <%= render :partial => '/layouts/side_bar_navigation'%>

<!-- tables -->
      <ol class="breadcrumb"> <li><a href="/librarian/dashboard">Home</a></li>
        <li><a href="/libraries/searchByISSN/LcollapseSix-03">Search By ISSN & ISBN</a></li> 
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      </ol>

<br>

  <h4 > Search By ISSN/ISBN </h4>
  <p class="pad-top10 mar-btm20">Please choose Search Type and then enter ISSN/ISBN to view Cost per Usage details. You can calculate Cost per Usage dynamically.
</p>
<div class="agile-Updating-grids">  <div class="agile-grids pad-top10">
<div id="messagearea" class="space"> </div>
<%= form_for :data_library,:url => url_for(:controller => "search_by_issn", :action =>"search")   do |f| %>
            <div class="col-md-5 mb10">
              <div>
              <select id="select_id">
              <option></option>
              <option value = "JournalPrintISSN">Journal Print ISSN</option>
              <option value = "journalOnlineISSN">journalOnlineISSN</option>
              <option value = "bookISBN">bookISBN</option>
              <option value = "bookISSN">bookISSN</option>
              </select>

              </div>
            </div>
            <div class="col-md-3">
              <%= f.label :enter_issn %>
              <%= f.text_field :Enter_issn, id: "auto_complete", :class => "tags" %>

              <!-- <div id="the-basics">
                <input class="typeahead" type="text" placeholder="States of USA">
              </div> -->
            </div>
            <%= button_to "search", :class => "button" %>
<% end %>

<script>
  $("#select_id").change(function() {
    var val = $(this).val();
    $.ajax({
      type: 'GET',
      url: '/search_by_issn/load_suggestions',
      data: 'select_type='+val,
      success: function(data){
      }
    });
  });
</script>

<script>
  $( ".tags" ).autocomplete({
    type: "GET",
    dataType: "json",
    source: "/search_by_issn/load_suggestions"
  });
</script>


  </div>
      <div class="clearfix"></div>
  </div>
  <br>
   <!--  <div class="alert alert-info" id="noDataFoundId"> No Data Found. Please enter accurate ISSN/ISBN.</div> -->


<div class="clearfix"></div>
  <br><br>

  
    <div id="data"></div>
  
      </div>
      </div>
          

    <%= render :partial => '/layouts/footer'%>

    </section>
          </body>     
</html>
 