
  <body  class="dashboard-page">
 
 
 <section class="wrapper scrollable">
  <%= render :partial => '/layouts/header'%>
  <%= render :partial => '/layouts/side_bar_navigation'%>

<!-- tables -->
      <ol class="breadcrumb"> <li><a href="/librarian/dashboard">Home</a></li>
        <li><a href="/libraries/searchByISSN/LcollapseSix-03">Search By ISSN & ISBN</a></li> 
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      </ol>

<br>

  <h4 > Search By ISSN/ISBN </h4>
  <p class="pad-top10 mar-btm20">Please choose Search Type and then enter ISSN/ISBN to view Cost per Usage details. You can calculate Cost per Usage dynamically.
</p>
<div class="agile-Updating-grids">  <div class="agile-grids pad-top10">
<div id="messagearea" class="space"> </div>
<%= form_for :data_library,:url => url_for(:controller => "search_by_issn", :action =>"search")   do |f| %>
            <div class="col-md-5 mb10">
              <div>
              <select id="select_id">
              <option></option>
              <option value = "1">Journal Print ISSN</option>
              <option value = "2">journalOnlineISSN</option>
              <option value = "3">bookISBN</option>
              <option value = "4">bookISSN</option>
              </select>

              </div>
            </div>
            <div class="col-md-3">
              <%= f.label :enter_issn %>
              <%= f.text_field :Enter_issn, id: "auto_complete", :class => "tags" %>

              <!-- <div id="the-basics">
                <input class="typeahead" type="text" placeholder="States of USA">
              </div> -->
            </div>
            <%= button_to "search", :class => "button" %>
<% end %>

<script>
$("#select_id").change(function() {
  alert("hiiii");
  var val = $(this).val();
    //get the selected value
    //make the ajax call
    $.ajax({
        type: 'GET',
        url: '/search_by_issn/show_report',
        //data: { id: val }

    });
});

</script>

// <script type="text/javascript">
 // $('#the-basics').autocomplete({
 //   source: ['apple', 'apricot', 'avocado']
 // });


  // $('#the-basics').typeahead({
  //        ajax: '/search_by_issn/load_suggestions',
  //        displayField: 'serial_number',
  //        valueField: 'id',
  //        onSelect: load_suggestions
  //    });
 </script>

  <script>
    $( ".tags" ).autocomplete({
      type: "GET",
      dataType: "json",
      source: "/search_by_issn/load_suggestions"
    });
  </script>

<!-- <script type="text/javascript" src="http://code.jquery.com/jquery-3.0.0.min.js"></script>
<script type="text/javascript" src="//netsh.pp.ua/upwork-demo/1/js/typeahead.js"></script>
<script type="text/javascript">
  $('the-basics.typeahead').typeahead({
    local: ['apple', 'fdgfgdfg', 'fdgfghfgh','suggestionN']
  });
</script> -->




  </div>
      <div class="clearfix"></div>
  </div>
  <br>

   <!--  <div class="alert alert-info" id="noDataFoundId"> No Data Found. Please enter accurate ISSN/ISBN.</div> -->


<div class="clearfix"></div>
  <br><br>

  
    <div id="data"></div>
  
      </div>
      </div>
          

    <%= render :partial => '/layouts/footer'%>

    </section>
          </body>     
</html>
 