
<!DOCTYPE html>
<html>
    <head>

<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- bootstrap-css -->
<link rel="stylesheet" href="/images/libraries/common/css/bootstrap.css">
<!-- //bootstrap-css -->
<!-- Custom CSS -->
<link href="/images/libraries/common/css/style.css" rel='stylesheet' type='text/css' />
<!-- font CSS -->

<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>

  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
<!-- font-awesome icons -->
<link rel="stylesheet" href="/images/libraries/common/css/font.css" type="text/css"/>
<link href="/images/libraries/common/css/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome icons -->
<script src="/images/libraries/common/js/jquery2.0.3.min.js"></script>
<script src="/images/libraries/common/js/bootstrap.js"></script>
<script src="/images/libraries/common/js/custom.min.js"></script> 

<script src="/images/libraries/common/js/modernizr.js"></script>
<!--<script src="js/jquery.cookie.js"></script>
-->
		

<link rel="stylesheet" href="/images/libraries/common/css/morris.css">
<!-- //charts -->
<!--skycons-icons-->
<!--<script src="js/skycons.js"></script>
--><!--//skycons-icons-->


<!--test collapse-->
<!-- FastClick -->
<link rel="stylesheet" href="/images/libraries/common/css/custom.min.css" type="text/css"/>


<!-- Use non-conflicting mode to avoid conflicts with any existing JQuery Library or New One -->
<script type="text/javascript" src="/scripts/jquery-custom-1.4.2.min.js">

</script> 
<script src="/scripts/jquery.autocomplete.js"></script>
<script type="text/javascript">
       //create this naming for Jquery 1.4.2 version
       var jQuery_1_4_2 = jQuery.noConflict(true);
</script>
<!-- ********JQuery Non-Conflicting library for autoComplete End******** -->

<link rel="stylesheet" type="text/css" href="/styles/autosuggest_style.css" />
        <!-- HTTP 1.1 -->
<!--<meta http-equiv="Cache-Control" content="no-store"/>-->
<!-- HTTP 1.0 -->
<!-- <meta http-equiv="Pragma" content="no-cache"/>-->
<!-- Prevents caching at the Proxy Server -->
<!-- <meta http-equiv="Expires" content="0"/>-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="generator" content="AppFuse 2.0" />
<!-- leave this for stats please -->
<link rel="icon" href="/images/favicon.ico" />
<script type="text/javascript">
		try 
		{			
			document.execCommand("BackgroundImageCache", false, true);
		}
		catch(err) 
		{}
</script>

         <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
        <link rel="SHORTCUT ICON" href="/images/favicon.ico" type="image/x-icon" />
        <title>Welcome to Online Statistics Portal</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">   
     <script type="text/javascript">
     /* alert(#session.authz); */
     
$(document).ready(function(){
	$(".pageLoadContainer").hide();
});
     
     function ltrim(stringToTrim) 
     {
		return stringToTrim.replace(/(?:(?:^|\n)\s+|\s+(?:$|\n))/g,"").replace(/\s+/g," ");
	}
	function rtrim(stringToTrim) {
	return stringToTrim.replace(/(?:(?:^|\n)\s+|\s+(?:$|\n))/g,"").replace(/\s+/g," ");
}
     function renderTitle(){
     	element=document.getElementById("brdcrm");
     	var titleText="";
     	if(element!=null){
			  var ihtml=element.innerHTML;
		  	  var startTag=0;
		  	  var  endTag=0;
		  	  var spaceCheck="";
    	       for(i=0;i<ihtml.length;i++)
  				{

		    		if(ihtml.charAt(i) == "<" || ihtml.charAt(i) == "&"){
						startTag=1;
						endTag=0;
					}
					
					if(startTag==1){
						spaceCheck=spaceCheck+ihtml.charAt(i);
					}
					
					if(ihtml.charAt(i) == ">" || ihtml.charAt(i) == ";"){
						endTag=1;
						startTag=0;
						if(spaceCheck=="&nbsp;"){
							titleText="";
							spaceCheck="";
						}
						if(ihtml.charAt(i)==">"){
							spaceCheck="";
						}
					}
			
					if(endTag==1){
						if(ihtml.charAt(i) != "<" && ihtml.charAt(i) != "&"){
							if(ihtml.charAt(i) != ">" && ihtml.charAt(i) != ";"){
								titleText=titleText+ihtml.charAt(i);
								spaceCheck="";
							}
						}
					}
					
					
			
					
   			}
  		}
		
		//titleText=titleText.substring(titleText.indexOf(" "),titleText.length);
		titleText=ltrim(titleText);
		titleText=rtrim(titleText);
		
		if(titleText== "")
			{
	        document.title="Online Statistics Portal "+titleText;
			}
		else
		{
			document.title="Online Statistics Portal "+"->"+titleText;
		}
	     

     }
     
     </script>
     

</style>
<script type="text/javascript">
function toggle(node) {
	var nextDIV = node.nextSibling;
	while(nextDIV.nodeName != "DIV") {
		nextDIV = nextDIV.nextSibling;
	}
	if (nextDIV.style.display == 'none') {
		if (node.childNodes.length > 0) {
			if (node.childNodes.item(0).nodeName == "IMG") {
				node.childNodes.item(0).src = getImgDirectory(node.childNodes.item(0).src) + "open.gif";
			}
		}
		nextDIV.style.display = 'block';
	}
	else {
		if (node.childNodes.length > 0) {
			if (node.childNodes.item(0).nodeName == "IMG") {
  				node.childNodes.item(0).src = getImgDirectory(node.childNodes.item(0).src) + "close.gif";
			}
		}
		nextDIV.style.display = 'none';
	}
}

function getImgDirectory(source) {
    return source.substring(0, source.lastIndexOf('/') + 1);
}
</script>
    </head>

 <body  class="dashboard-page">
  <div id="loaderDivId" class="loader" style="display:none"></div>
 <section class="wrapper scrollable">
 











<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript">
function submitForm(){
	var formEL= document.getElementById("webmartForm");	
	formEL.submit();
 
}
function generateProfileUrl(pubcode){
	loaderDiv = document.getElementById("loaderDivId");
	loaderDiv.style.display = "block";
	var url="/"+pubcode+"/updateYourAccount";
	/* document.forms['form1'].action=url;
	document.forms['form1'].method="post";
	document.forms['form1'].submit(); */
	//return url;

var formData = new FormData(document.getElementsByName('form1')[0]);// yourForm: form selector   
$.ajax({
    type: "POST",
    url: url,
    data: formData,
    processData: false,
    contentType: false,
    error: function(jqXHR, textStatus, errorMessage) {
       console.log(errorMessage); // Optional
    },
    success: function(data) {
    	document.getElementById('profileModel').innerHTML = data;
    	loaderDiv.style.display = "none";
    	 $('#myModalProfile').modal('show');
	} 
});
}
function useraction(url)
{	loaderDiv = document.getElementById("loaderDivId");
	loaderDiv.style.display = "block";
	
	//alert(url);
		  var ajaxRequest; 
	   try{
	     // Opera 8.0+, Firefox, Safari
	     ajaxRequest = new XMLHttpRequest();
	   }catch (e){
	     // Internet Explorer Browsers
	     try{
	        ajaxRequest = new ActiveXObject("Msxml2.XMLHTTP");
	     }catch (e) {
	        try{
	           ajaxRequest = new ActiveXObject("Microsoft.XMLHTTP");
	        }catch (e){
	           // Something went wrong
	           alert("Your browser broke!");
	           return false;
	        }}
	     }
	   if(ajaxRequest)
	   {
	    ajaxRequest.open("GET",url,true);
	    ajaxRequest.send(null);
	    ajaxRequest.onreadystatechange = function()
	    {
	    if(ajaxRequest.readyState==4 && ajaxRequest.status==200){
	    	//alert(ajaxRequest.responseText);
	    	document.getElementById('profileModel').innerHTML = ajaxRequest.responseText;
	    	loaderDiv.style.display = "none";
	    	 $('#myModalProfile').modal('show');
	    }
	    }
	   }
	   else{
	    alert("Your browser don't support AJax !");
	   }
}

</script>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>


    <%= render :partial => '/layouts/side_bar_navigation'%>
		<%= render :partial => '/layouts/header'%>
		
	
    <!-- Modal -->
 <div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Logout Confirmation</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to logout ?</p>
      </div>
      <div class="modal-footer">
           <div class="row">
               <div class=" col-sm-3 mt-10">
 					<div class="button raised">
   						<a href="javascript:;" id="buttonId" name="button2" data-dismiss="modal" class="hoverable" onclick="window.open('/libraries/signout','_self')"> <div class="anim"></div><span>Yes</span></a>
    				</div>
				</div>
                <div class=" col-sm-3 mt-10">
 					<div class="button raised">
   						<a href="#" data-dismiss="modal" aria-hidden="true" id="button" name="button"  class="hoverable" > <div class="anim"></div><span>No</span></a>
    				</div>
				</div>

			</div>

</div>
    </div>

  </div>
</div> 

<!-- model for profile -->
<div id="myModalProfile" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Update Your Account</h4>
      </div>
      <div class="modal-body" id="profileModel">
      </div>
    </div>

  </div>
</div> 


<!--
        	<script src="/images/libraries/common/js/bootstrap.js"></script>

       <script src="/images/libraries/common/js/custom.min.js"></script> 
       
    <script type="text/javascript" src="/images/js/jquery.min.js"></script>  -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/drilldown.js"></script>
<script src="https://code.highcharts.com/modules/no-data-to-display.js"></script>



<div class="pageLoadContainer" ></div>
         <div class="row-fluid" style="margin-bottom:50px; min-height:450px;">
		    <div class="span3">
		      <div class="sidebar-nav">
		  			 
		  	  </div>	  
			</div>
			<div class="main-grid" >
			   <div class="clearfix"></div>
 			  	
     <ol class="breadcrumb"> <li><a href="/libraries/dashboard">Home</a></li>
         <li>Upload Data</li>
     </ol>

<div role="tabpanel">

  <!-- Nav tabs -->
  <h3 class="color_txt pull-left">Upload Your Data Here!</h3>
  <br>
  <p class="pad-top10 mar-btm20">Upload Your Cost data and Manual data here</p>
<br>
     <ul class="nav nav-tabs" role="tablist">
		
		
    		<li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Upload Cost Data</a></li>
    		<li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Upload Manual Data</a></li>

		
 </ul>

  <!-- Tab panes -->


  <div class="tab-content commonTabsContent">
    <div role="tabpanel" class="tab-pane active" id="home">
    	
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />




<script type="text/javascript" src="/scripts/Encoder.js"></script> 
<link rel="stylesheet" href="/images/css/ui/1.9.2/themes/base/jquery-ui.css" />
<script type="text/javascript" src="/scripts/sortScript/jquery.tablesorter.js"></script>
<script type="text/javascript" src="/scripts/sortScript/jquery.tablesorter.pager.js"></script>


<script>
function downloadTemplate(pubcode){ 
	var url="/"+pubcode+"/downloadTemplate/Price_per_Use_Template/xlsx";
	window.location.href="/import_data/index"  // 
}
function submitFormFeed(val){
	var url = "/libraries/"+val;
	document.forms['formfeed'].action=url;
	document.forms['formfeed'].method="post";
	document.forms['formfeed'].submit();
}
</script>
  <!-- tables -->
<link rel="stylesheet" type="text/css" href="/images/libraries/css/table-style.css" />
<link rel="stylesheet" type="text/css" href="/images/libraries/css/basictable.css" />
<script type="text/javascript" src="/images/libraries/js/jquery.basictable.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
      $('#table').basictable();

      $('#table-breakpoint').basictable({
        breakpoint: 768
      });

      $('#table-swap-axis').basictable({
        swapAxis: true
      });

      $('#table-force-off').basictable({
        forceResponsive: false
      });

      $('#table-no-resize').basictable({
        noResize: true
      });

      $('#table-two-axis').basictable();

      $('#table-max-height').basictable({
        tableWrapper: true
      });
    });
</script>
      <div class="clearfix"></div>
      <!--breadcrumb Ends-->
      <!-- dashboard heading start-->
      <h3 class="color_txt pull-left">Upload Cost file For Usage Reports</h3>
    <br>
      <div class="clearfix"></div>
    
	<p class="pad-top10 mar-btm20">This section allows you to upload your title and price information for generation of Price per Usage Report.</p>
	<br>
	<p class="black_12">Please download the template and upload the file.
		<!-- <script type="text/javascript">
			var url=downloadTemplate('libraries');
			document.write("<a	href="+"'"+url+"'"+">");
		</script>
		&nbsp;&nbsp;<img src="/images/download.gif"> <b>Template</b>
			</a> -->
	
	
	<%= link_to 'xlsx', import_data_xlsx_path %><img src="/images/xls.gif"%> Template	
		
	</p>
    <br>
			
	<div id="body_container_login1" class="row-fluid">


</div>	
<div class = "upload">
	<div class="table-responsive"> 
	 <caption><h3 class="color_txt pull-left">Upload File1213</h3></caption>
		<table class="table table-striped" id="grid-heading">
			<tbody>
				<tr>

					<%= form_for :import_data, url: import_data_path do |f| %>
						<div class="field">
							<%= f.file_field :attachment%>
						</div>
						<div class="actions">
							<%= f.submit %>
						</div>
					<% end %>
								<!-- 
<form id="formfeed" name="checkData" onsubmit="return true;" action='uploadFile' method="POST" enctype="multipart/form-data">
						<input type="hidden" name="collection" id="collection" placeholder="id" value="tempCollection">
					<td >Choose file to upload cost data for generation of Cost per Usage Reports.</td> 
	        	    <td class="align_center"> <input type="file" accept='text/xlsx' name="upload" value="" id="formfeed_upload"/> </td>
	                <td class="align_center">
	                	<div class="button raised">
   							<a href="/import_data/index" id="buttonId" class="hoverable" onclick='submitFormFeed( "return submitForm(url);");'> <div class="anim"></div><span>Upload</span></a>
    					</div>
	                </td>
	             </form> -->




				</tr>
			</tbody>
		</table>
	</div>
    </div>
</div>
    <div role="tabpanel" class="tab-pane" id="profile">
    	
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />





<script type="text/javascript" src="/scripts/Encoder.js"></script> 
<!-- <link rel="stylesheet" href="/images/css/ui/1.9.2/themes/base/jquery-ui.css" /> -->

<script>
function validate_form(){

}
$('#fileupload').fileupload({
	alert("hi");
    dataType: 'json',
    add: function (e, data) {            
        $("#buttonId").off('click').on('click', function () {
            data.submit();
        });
    },
});
function downloadTemplate(pubcode){ 
	var url="/"+pubcode+"/downloadTemplate/Price_per_Use_Template/xlsx";
	return url; 
}
function submitForm(url){
	var url = "/libraries/"+url;
	document.forms['formID'].action=url;
	document.forms['formID'].method="post";
	document.forms['formID'].submit();
}

</script>
  <!-- tables -->
<link rel="stylesheet" type="text/css" href="/images/libraries/css/table-style.css" />
<link rel="stylesheet" type="text/css" href="/images/libraries/css/basictable.css" />
<script type="text/javascript" src="/images/libraries/js/jquery.basictable.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
      $('#table').basictable();

      $('#table-breakpoint').basictable({
        breakpoint: 768
      });

      $('#table-swap-axis').basictable({
        swapAxis: true
      });

      $('#table-force-off').basictable({
        forceResponsive: false
      });

      $('#table-no-resize').basictable({
        noResize: true
      });

      $('#table-two-axis').basictable();

      $('#table-max-height').basictable({
        tableWrapper: true
      });
    });
</script>
      

      <h3 class="color_txt pull-left">Upload Manually Collected File </h3>
    
      <br>
      <!-- dashboard heading end-->
      
<!-- page header text starts-->

	<p class="pad-top10 mar-btm20">This section allows you to upload your manually collected data, we will add the same data in respective Consolidated Report.</p>

	<br>		
	<div id="body_container_login1" class="row-fluid">


	</div>
<div class="table-responsive"> 
				 <caption><h3 class="color_txt pull-left">Upload Manual Data File14234</h3></caption>

		<table class="table table-striped" id="grid-heading">
            <tbody>
            	<tr>
								<%= form_for :import_data, url: import_data_path do |f| %>

												<div class="field">
															<%= f.file_field :attachment%>
												</div>

												<div class="actions">
															<%= f.submit %>
												</div>
								<% end %>     
							</tr>
						</tbody>
		</table>
</div>      		
							

        	





<!--  <div class="navbar navbar-inverse navbar-fixed-bottom version"> -->
  <%= render :partial => '/layouts/footer'%>
<!-- </div> -->

<!-- 	<script src="/images/libraries/common/js/bootstrap.js"></script>
    <script src="/images/libraries/common/js/custom.min.js"></script> -->
    
    <!--new highchart start-->
<!-- <script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/drilldown.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>	 -->
    </section>
        	</body>
      
      
      
</html>
