<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>ScholarlyStats</title>

  <%= javascript_include_tag "jquery2.0.3.min.js" %>
  <%= javascript_include_tag "bootstrap.js" %>
 <%= javascript_include_tag "application.js" %>


  <%= stylesheet_link_tag "bootstrap.min.css" %>
  <%= stylesheet_link_tag "bootstrap.css" %>

  <%= stylesheet_link_tag "style.css" %>
  <%= stylesheet_link_tag "my_style.css" %>
  <%= stylesheet_link_tag "application.css" %>

  <%= stylesheet_link_tag "bootstrap-theme.min.css" %>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->

  <%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" %>


  </head>

  <body data-spy="scroll" id="home">
  
  <!-- Modal -->
<div class="modal fade my_login_box" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Welcome to MPS<span>ScholarlyStats</span></h4>
      </div>
      <div class="modal-body ">
        <div class="common_form">

         <%= form_for(resource, as: resource_name, url: session_path(resource_name), class:"form-signin") do |f| %>
         <ul>
        <li>
          
          <%= f.email_field :email, autofocus: true %>
        </li>

        <li>
           
          <%= f.password_field :password, autocomplete: "off" %>
        </li>

        <% if devise_mapping.rememberable? -%>
          <li class="checkbox">
            <label>
            <%= f.check_box :remember_me %>
            Remember me
          </label>
          </li>
        <% end -%>

          <li class="actions">
            <%= f.submit "Login", :class => 'submit_btn' %>
          </li>
        </ul>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

 <!-- Modal -->
<div class="modal fade my_login_box" id="Request-Demo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Request for demo</h4>
      </div>
      <div class="modal-body">
        <div class="common_form">
          <%= form_for(:requestfordemo , url: requestfordemos_path) do |f| %>

                <li>
                  <%= f.text_field :username, class: "form-control", :required => true, placeholder: "Username" %>
                </li>

                <li>
                  <%= f.email_field :email, class: "form-control", :required => true, placeholder: "Example@domain.com" %>
                </li>

                <li>
                  <%= f.text_field :library, class: "form-control", :required => true, placeholder: "Library" %>
                </li>

                <li>
                  <%= f.text_field :number, class: "form-control", :required => true, placeholder: "Number" %>
                </li>

                <li>
                  <%= f.text_area :message, class: "form-control", :required => true, placeholder: "Your Message" %>
                </li>

                <li>
                  <%= f.submit "Send", class: "submit_btn", data: { confirm: 'Your confirm message' } %>
                </li>
          <% end %>

        </div>
      </div>
      
    </div>
  </div>
</div>




    <a class="fixed-request-demo-btn" href="#Request-Demo" data-toggle="modal"><%= image_tag ("request_demo_btn.png") %></a>
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top top_band" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><%= image_tag ("macmillan-txt.png") %></a>
        </div>
        
        <div class="navbar-collapse collapse">
            <div class=" main_menu clearfix">
              <ul class="nav navbar-nav navbar-right">
                <li class="active"><a class="scroll" href="#home"><i class="fa fa-home"></i> Home</a></li>
                <li><a class="scroll" href="#reports"><i class="fa fa-pie-chart"></i> Reports</a></li>
                <li><a class="scroll" href="#benefits"><i class="fa fa-flag"></i> Benefits</a></li>
                <li><a class="scroll" href="#contact_section"><i class="fa fa-envelope"></i> Contact Us</a></li>
                <li><a href="#LoginModal" data-toggle="modal"><i class="fa fa-unlock-alt"></i> Login</a></li>
              </ul>
           </div>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    
    <!-- /main_banner_section -->
    <div class=" main_banner_section">
        <!-- Carousel -->
    <div id="Main_Banner_Carousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <div class="carousel-inner">
        <div class="item active blue_bg">
          <div class="container">
            <%= image_tag ("main_banner.jpg") %>
            <%= image_tag ("mob_banner.jpg") %>
            <div class="carousel-caption">
              <h2>Better Information</h2>
                <h3>for Better Decisions</h3>
            </div>
          </div>
        </div>
        <div class="item yellow_bg">
          <div class="container"> 
            <%= image_tag ("main_banner2.jpg") %>
            <%= image_tag ("mob_banner2.jpg") %>
            </div>
        </div>
        
      </div>
      <a class="left carousel-control" href="#Main_Banner_Carousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#Main_Banner_Carousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->
        
  </div><!-- /main_banner_section -->
    
    
    
    
    <!-- /stats_section -->
        <div class="stats_section" >
          <div class="container">
                <ul>
                    <li class="col-xs-12 col-sm-4 col-md-4">
                      <div class="row">
                          <div class="col-xs-4 col-md-4"><%= image_tag ("icon/publishers_icon.png") %></div>
                          <div class="col-xs-8 col-md-8 total_counts">
                            <div class="row">
                                <h1>160+</h1>
                                <p>Publishers</p>
                            </div>
                          </div>
                        </div>
                    </li>
                    <li class="col-xs-12 col-sm-4 col-md-4">
                      <div class="row">
                          <div class="col-xs-4 col-md-4"><%= image_tag ("icon/journals_icon.png") %></div>
                          <div class="col-xs-8 col-md-8 total_counts">
                            <div class="row">
                                <h1>80000+</h1>
                                <p>Journals</p>
                            </div>
                          </div>
                        </div>
                    </li>
                    <li class="col-xs-12 col-sm-4 col-md-4">
                      <div class="row">
                          <div class="col-xs-4 col-md-4"><%= image_tag ("icon/books_icon.png") %></div>
                          <div class="col-xs-8 col-md-8 total_counts">
                            <div class="row">
                                <h1>50000+</h1>
                                <p>Books</p>
                            </div>
                          </div>
                        </div>
                    </li>
                </ul>   
            </div> 
        </div>
    
<!-- /stats_section end -->

    
<!-- / reports_section -->

<div class="reports_section" id="reports">
  <div class="container">
      <div class="report_tittle">
          Clear Stats, Actionable Insight
        </div>
        <div class="report_tittle_info">
          <!--  <span>With our award winning reports and analytical platform,</span> you get what you want, we provide <span>all reports in all possible formats,</span> you can request for <b>customization, pull data from any given dates,</b> create your own title and package based cost per use reports, see through our advance charts and visuals what is being used and what's not in <b>your electronic resource collection, and that without wasting any minute,</b> MPSScholarlyStats based on decade <span>old experience in electronic resource analytics came up with value added reports</span> which simply understands what librarians want from library data. -->
            <span>
              With our new upgraded analytical platform, you get what you want. We provide all Consolidated COUNTER reports in all possible formats. You can request a customized dashboard, pull stats for any given dates, create your own title and package-based cost per use reports, see through our advance charts and visuals what is being used and what's not in your electronic resource collection, and without wasting any time. MPSScholarlyStats based on decade old experience in electronic resource analytics came up with value-added reports which simply understands what librarians want from library data. 
            </span>
        </div>
        
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
              <div class="reports_box">
                   <div class="reports_name">COUNTER and Custom Reports</div>
                    <div class="reports_box_image">
                      <%= image_tag ("icon/custom_reports_icon.png") %>
                    </div>
                   <div class="reports_info">
                    ScholarlyStats being one of the oldest service on COUNTER analytics know what librarian wants from its data management vendor, we provide all the Consolidated COUNTER reports in formats like xls, csv and xml, where you can find each and every publisher you are subscribed with within a COUNTER report type, itâs a click and download report feature where all reports and value added data is available for you to access anytime anywhere.
                   </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
              <div class="reports_box">
                   <div class="reports_name">Source Reports</div>
                    <div class="reports_box_image">
                      <%= image_tag ("icon/source_reports_icon.png") %>              
                    </div>
                   <div class="reports_info">
                    We understand the value of raw data which is supplied to you by publishers, so we have a separate section where you can refer to any publishers raw COUNTER reports from a single tool, you not need to go anywhere to refer to any raw data now, just select publisher, report type and report will be downloaded to your system.
                   </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
              <div class="reports_box">
                   <div class="reports_name">Dynamic Reports</div>
                    <div class="reports_box_image">
                      <%= image_tag ("icon/dynamic_reports_icon.png") %>             
                    </div>
                   <div class="reports_info">
                    To reduce dependency on the canned data and reports, ScholarlyStats bring to you Dynamic reports in COUNTER format, simply put any two given dates ranges , select report type and you get your institutions usage data instantly, this gives you freedom from combining two years data to get academic session analyzed.
                   </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
              <div class="reports_box">
                   <div class="reports_name">Cost Per Use Reports</div>
                    <div class="reports_box_image">
                      <%= image_tag ("icon/cost_per_use.png") %>
                    </div>
                   <div class="reports_info">
                    Scholarlystats Price for use – being into the library analytics from over a decade, we understand the level of efforts you need to calculate the price per title of your subscription material, to make analytics and data work for you without any manual work, we introduced CPU reports recently, it’s a simple upload of cost from your end and CPU will be made available to you!, with our real time cost calculator, you can search usage by ISSN / ISBN number, calculate price per use,
                   </div>
                </div>
            </div>
            
        </div>
        
    </div>
</div>

<!-- / reports_section end -->


<!-- / benefits_section -->
<div class="benefits_section clearfix" id="benefits">
  <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-5">
      <%= image_tag ("system_img.jpg"), :class => 'img-responsive' %>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-7">
      <div class="benefits_tittle">
        Features of MPS
        <span>ScholarlyStats</span>
      </div>
        <div class="benefits_tittle_info">
          MPSScholarlyStats is a proven analytical usage tool, providing librarians the power to make data-driven decisions.
        </div>
        
        <ul class="list_style">
          <li>Helps libraries in streamlining the process of title selection.</li>
            <li>Option to choose from COUNTER and a variety of custom reports.</li>
            <li>Helps libraries to validate existing content subscriptions, analyze content inventory,and choose and acquire new content.</li>
            <li>Cloud-based reporting with 24 x 7 support.</li>
            <li>Easy comparison of performance of various e-packages.</li>
            <li>Automated data harvesting through SUSHI.</li>
            <li>New business opportunities because of enhanced capabilities.</li>
        </ul>
        
    </div>
    </div>
    </div>
</div>

<!-- / benefits_section_end -->

<!-- / affiliated_by_section -->
<div class="affiliated_by_section clearfix">
  <div class="container">
    <%= image_tag ("affiliated_by/ala.gif") %>
    <%= image_tag ("affiliated_by/dnv_gl.gif") %>
    <%= image_tag ("affiliated_by/counter.gif") %>
    <%= image_tag ("affiliated_by/iso_9001_iso_iec_27001.gif") %>
    <%= image_tag ("affiliated_by/panacea.gif") %>
    </div>
</div>
<!-- / affiliated_by_section_end -->


<!-- / clients_section -->

<div class="clients_speak_section">
  <div class="container">
      <div class="common_tittle text-center">
          What Our Clients Say
        </div>
        <div class="row">
          <!-- Carousel -->
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                  </ol>
                  <div class="carousel-inner">
                    <div class="item active">
                      <div class="row">
                            <div class="col-xs-12 col-md-6 col-lg-6 clients_speak_box">
                                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                    <div class="row">
                                      <%= image_tag ("library_logo.gif") %>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                                    <div class="client_comment">
                                        I tell you guys, this is one of the best service dedicated towards library and scholarly community, you are our hero's.
                                        <b>- a Germany based University Library Librarian.</b>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-xs-12 col-md-6 col-lg-6 clients_speak_box">
                                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                    <div class="row">
                                      <%= image_tag ("library_logo.gif") %>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                                    <div class="client_comment">
                                        I tell you guys, this is one of the best service dedicated towards library and scholarly community, you are our hero's.
                                        <b>- a Germany based University Library Librarian.</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="item">
                      <div class="row">
                            <div class="col-xs-12 col-md-6 col-lg-6 clients_speak_box">
                                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                    <div class="row">
                                      <%= image_tag ("library_logo.gif") %>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                                    <div class="client_comment">
                                        I tell you guys, this is one of the best service dedicated towards library and scholarly community, you are our hero's.
                                        <b>- a Germany based University Library Librarian.</b>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-xs-12 col-md-6 col-lg-6 clients_speak_box">
                                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                    <div class="row">
                                      <%= image_tag ("library_logo.gif") %>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                                    <div class="client_comment">
                                        I tell you guys, this is one of the best service dedicated towards library and scholarly community, you are our hero's.
                                        <b>- a Germany based University Library Librarian.</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="item">
                      <div class="row">
                            <div class="col-xs-12 col-md-6 col-lg-6 clients_speak_box">
                                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                    <div class="row">
                                      <%= image_tag ("library_logo.gif") %>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                                    <div class="client_comment">
                                        I tell you guys, this is one of the best service dedicated towards library and scholarly community, you are our hero's.
                                        <b>- a Germany based University Library Librarian.</b>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-xs-12 col-md-6 col-lg-6 clients_speak_box">
                                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                    <div class="row">
                                      <%= image_tag ("library_logo.gif") %>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                                    <div class="client_comment">
                                        I tell you guys, this is one of the best service dedicated towards library and scholarly community, you are our hero's.
                                        <b>- a Germany based University Library Librarian.</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                  </div>
                  
                </div><!-- /.carousel -->
        </div>
     </div>
</div>
 
<!-- / clients_section end --> 
    
<!-- / contact_section -->

<div id="contact_section">
  <div class="container">
      <div class="common_tittle text-center">
          Contact Us Here
        </div>
        <div class="common_tittle_info text-center">
          Please enter your query below and it will be sent to the helpdesk.
        </div>
        
        <div class="row">
          <div class="col-xs-12 col-sm-7 col-md-8 col-lg-8">
              <div class="common_form">
                    <%= form_for :contact_u, url: contact_us_path do |f| %>
                 
                    <li>
                      <%= f.text_field :name, class: "form-control", :required => true, placeholder: "Name"%>
                    </li>

                    <li>
                      <%= f.email_field :email, class: "form-control", :required => true, placeholder: "EmailID"%>
                    </li>

                    <li>
                      <%= f.text_field :subject, class: "form-control", :required => true, placeholder: "Subject"%>
                    </li>

                    <li>
                      <%= f.text_area :message, class: "form-control", :required => true, placeholder: "Your Message"%>
                    </li>

                    <div class = "field">
                    <%= f.submit "Send Message", class: "submit_btn" %>
                    </div>
                  <% end %>
                </div>
            </div>
            
            <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
              <div class="contact_detail_box">
                  <div class="address_section">
                    <div class="icon"><%= image_tag ("icon/location.png") %></div>
                    <div class="address_detail">
                      <h5>Address</h5>
                        <p>
                          MPS LIMITED C35, Sector 62<br>
              Noida - 201307<br>
              INDIA
                        </p>
                    </div>
                    </div>
                    
                    <div class="address_section">
                    <div class="icon"><%= image_tag ("icon/mail.png") %></div>
                    <div class="address_detail">
                      <h5>Email</h5>
                        <p>
                          <a href="mailto:marketing@adi-mps.com">marketing@adi-mps.com</a>
                        </p>
                    </div>
                    </div>
                    
                    <div class="address_section">
                    <div class="icon"><%= image_tag ("icon/phone.png") %></div>
                    <div class="address_detail">
                      <h5>Phone</h5>
                        <p>+91 (0)120 4599 793</p>
                    </div>
                    </div>
                    <div class="address_section">
                    <div class="icon"><%= image_tag ("icon/web.png") %></div>
                    <div class="address_detail">
                      <h5>Website</h5>
                        <p><a href="http://www.adi-mps.com/" target="_blank">www.adi-mps.com</a></p>
                    </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>    
<!-- / contact_section end --> 
    
<!-- / footer_section --> 
<footer class="footer text-center">
  <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-12"><a href="#">Terms of Use</a>  <span>|</span>  <a href="#">Privacy and Policy</a>
        </div>
        <div class="col-xs-12 col-md-12 footer_text">
          Powered by
          <a href="http://www.adi-mps.com/" target="blank" style="text-decoration:none">
          <span style="color:#c9302c">MPS </span>
        </a>
        Ltd. - All Rights Reserved.
      </div>
          <div class="col-xs-12 social_icon">
              <a href="#" target="_blank" class="icon-button facebook"><i class="fa fa-facebook"></i><span></span></a>
              <a href="#" target="_blank" class="icon-button twitter"><i class="fa fa-twitter"></i><span></span></a>
          </div>
        </div>
    </div>
</footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    
    <script>
    $(function() {
          $('.scroll').click(function() {
            if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
              var target = $(this.hash);
              target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
              if (target.length) {
                $('html,body').animate({
                scrollTop: target.offset().top
                }, 1000);
                return false;
              }
            }
          });
        });
  </script>
    <script>
    $(function() {
    $('.nav a').on('click', function(){ 
      if($('.navbar-toggle').css('display') !='none'){
        $(".navbar-toggle").trigger( "click" );
      }
    });
  });
    </script>
  </body>
</html>
