<%byebug%>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src= "https://code.highcharts.com/modules/drilldown.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>



<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script> 
<script src="/javascripts/js/highcharts.js" type="text/javascript"></script> <!--where you put the high charts library -->
<script src="/highcharts.js" type="text/javascript"></script> <!-- your script -->

<%= javascript_include_tag "application", "data-turbolinks-track" => true %>

<%= content_tag :div, "", id: "container", data: { this_usage: @this_usage}%>

<%= content_tag :div, "", id: "container1", data: { this_usage: @this_usage}%>


<script>

$(function () {
    // Create the chart
    Highcharts.chart('container', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Browser market shares. January, 2015 to May, 2015'
        },
        subtitle: {
            text: 'Click the columns to view versions. Source: <a href="http://netmarketshare.com">netmarketshare.com</a>.'
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Total percent market share'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}%'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
        },

        series: [{
            name: 'Brands',
            colorByPoint: true,
            data: [{
                name: 'Microsoft Internet Explorer',
                y: 56.33,
                drilldown: 'Microsoft Internet Explorer'
            }, {
                name: 'Chrome',
                y: 24.03,
                drilldown: 'Chrome'
            }, {
                name: 'Firefox',
                y: 10.38,
                drilldown: 'Firefox'
            }, {
                name: 'Safari',
                y: 4.77,
                drilldown: 'Safari'
            }, {
                name: 'Opera',
                y: 0.91,
                drilldown: 'Opera'
            }, {
                name: 'Proprietary or Undetectable',
                y: 0.2,
                drilldown: null
            }]
        }],
        drilldown: {
            series: [{
                name: 'Microsoft Internet Explorer',
                id: 'Microsoft Internet Explorer',
                data: [
                    [
                        'v11.0',
                        24.13
                    ],
                    [
                        'v8.0',
                        17.2
                    ],
                    [
                        'v9.0',
                        8.11
                    ],
                    [
                        'v10.0',
                        5.33
                    ],
                    [
                        'v6.0',
                        1.06
                    ],
                    [
                        'v7.0',
                        0.5
                    ]
                ]
            }, {
                name: 'Chrome',
                id: 'Chrome',
                data: [
                    [
                        'v40.0',
                        5
                    ],
                    [
                        'v41.0',
                        4.32
                    ],
                    [
                        'v42.0',
                        3.68
                    ],
                    [
                        'v39.0',
                        2.96
                    ],
                    [
                        'v36.0',
                        2.53
                    ],
                    [
                        'v43.0',
                        1.45
                    ],
                    [
                        'v31.0',
                        1.24
                    ],
                    [
                        'v35.0',
                        0.85
                    ],
                    [
                        'v38.0',
                        0.6
                    ],
                    [
                        'v32.0',
                        0.55
                    ],
                    [
                        'v37.0',
                        0.38
                    ],
                    [
                        'v33.0',
                        0.19
                    ],
                    [
                        'v34.0',
                        0.14
                    ],
                    [
                        'v30.0',
                        0.14
                    ]
                ]
            }, {
                name: 'Firefox',
                id: 'Firefox',
                data: [
                    [
                        'v35',
                        2.76
                    ],
                    [
                        'v36',
                        2.32
                    ],
                    [
                        'v37',
                        2.31
                    ],
                    [
                        'v34',
                        1.27
                    ],
                    [
                        'v38',
                        1.02
                    ],
                    [
                        'v31',
                        0.33
                    ],
                    [
                        'v33',
                        0.22
                    ],
                    [
                        'v32',
                        0.15
                    ]
                ]
            }, {
                name: 'Safari',
                id: 'Safari',
                data: [
                    [
                        'v8.0',
                        2.56
                    ],
                    [
                        'v7.1',
                        0.77
                    ],
                    [
                        'v5.1',
                        0.42
                    ],
                    [
                        'v5.0',
                        0.3
                    ],
                    [
                        'v6.1',
                        0.29
                    ],
                    [
                        'v7.0',
                        0.26
                    ],
                    [
                        'v6.2',
                        0.17
                    ]
                ]
            }, {
                name: 'Opera',
                id: 'Opera',
                data: [
                    [
                        'v12.x',
                        0.34
                    ],
                    [
                        'v28',
                        0.24
                    ],
                    [
                        'v27',
                        0.17
                    ],
                    [
                        'v29',
                        0.16
                    ]
                ]
            }]
        }
    });
});



// $(function () {
//    new  Highcharts.chart('container', {
//         chart: {
//             plotBackgroundColor: null,
//             plotBorderWidth: null,
//             plotShadow: false,
//             type: 'pie'
//         },
//         title: {
//             text: 'Browser market shares January, 2015 to May, 2015'
//         },
//         tooltip: {
//             pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
//         },
//         plotOptions: {
//             pie: {
//                 allowPointSelect: true,
//                 cursor: 'pointer',
//                 dataLabels: {
//                     enabled: true,
//                     format: '<b>{point.name}</b>: {point.percentage:.1f} %',
//                     style: {
//                         color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
//                     }
//                 }
//             }
//         },
//         series: [{
//             name: 'Brands',
//             colorByPoint: true,
//             data: [
//             <% @this_usage.each do |f| %>
//               {
                
//                 name: '<%= f.Report_Type %>',
//                 y: <%= f.abcd %>
//               },
//                               <%end%>


              

//             ]
//         }]
//     });
// });


// $(function () {
//    new  Highcharts.chart('container1', {
//         chart: {
//             type: 'spline'
//         },
//         title: {
//             text: 'Year Trend',
//             x: -20 //center
//         },
//         subtitle: {
//             text: '',
//             x: -20
//         },
//         xAxis: {
//             categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
//                 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
//         },
//         yAxis: {
//             title: {
//                 text: 'Successful full-text requests'
//             },
//             plotLines: [{
//                 value: 0,
//                 width: 1,
//                 color: '#808080'
//             }]
//         },
//         tooltip: {
//             valueSuffix: ''
//         },
//         plotOptions: {
//             spline: {
//                 marker: {
//                     radius: 4,
//                     lineColor: '#666666',
//                     lineWidth: 1
//                 }
//             }
//         },
//         legend: {
//             layout: 'vertical',
//             align: 'right',
//             verticalAlign: 'middle',
//             borderWidth: 0
//         },
//         series: [{
//             name: '2016',
//             marker: {
//                 symbol: 'square'
//             },
//             data: [
//             <% @highsplinechart1.each do |f| %>
//                 <%= f.abcd %>
//             <%end%>,
//             <% @highsplinechart2.each do |f| %>
//                 <%= f.abcd %>
//             <%end%>
//              ,
//              <% @highsplinechart3.each do |f| %>
//                 <%= f.abcd %>
//             <%end%> , 
//             <% @highsplinechart4.each do |f| %>
//                 <%= f.abcd %>
//             <%end%>, 
//             <% @highsplinechart5.each do |f| %>
//                 <%= f.abcd %>
//             <%end%>, 
//             <% @highsplinechart6.each do |f| %>
//                 <%= f.abcd %>
//             <%end%>, 
//             <% @highsplinechart7.each do |f| %>
//                 <%= f.abcd %>
//             <%end%>,
//             <% @highsplinechart8.each do |f| %>
//                 <%= f.abcd %>
//             <%end%> ,
//             <% @highsplinechart9.each do |f| %>
//                 <%= f.abcd %>
//             <%end%>, 
//             <% @highsplinechart10.each do |f| %>
//                 <%= f.abcd %>
//             <%end%>, 
//             <% @highsplinechart11.each do |f| %>
//                 <%= f.abcd %>
//             <%end%>,
//             <% @highsplinechart12.each do |f| %>
//                 <%= f.abcd %>
//             <%end%>]
//         },  {
//             name: '2015',
//             marker: {
//                 symbol: 'diamond'
//             },
//             data: [
//             <% @highspline1.each do |f| %>
//                 <%= f.abcd %>
//             <%end%>,
//             <% @highspline2.each do |f| %>
//                 <%= f.abcd %>
//             <%end%>
//              ,
//              <% @highspline3.each do |f| %>
//                 <%= f.abcd %>
//             <%end%> , 
//             <% @highspline4.each do |f| %>
//                 <%= f.abcd %>
//             <%end%>, 
//             <% @highspline5.each do |f| %>
//                 <%= f.abcd %>
//             <%end%>, 
//             <% @highspline6.each do |f| %>
//                 <%= f.abcd %>
//             <%end%>, 
//             <% @highspline7.each do |f| %>
//                 <%= f.abcd %>
//             <%end%>,
//             <% @highspline8.each do |f| %>
//                 <%= f.abcd %>
//             <%end%> ,
//             <% @highspline9.each do |f| %>
//                 <%= f.abcd %>
//             <%end%>, 
//             <% @highspline10.each do |f| %>
//                 <%= f.abcd %>
//             <%end%>, 
//             <% @highspline11.each do |f| %>
//                 <%= f.abcd %>
//             <%end%>,
//             <% @highspline12.each do |f| %>
//                 <%= f.abcd %>
//             <%end%>]
//         }]
//     });
// });

</script>

