<!DOCTYPE html>
<html>
    <head>

<!--<script src="js/jquery.cookie.js"></script>
-->
		

<link rel="stylesheet" href="/images/libraries/common/css/morris.css">
<!-- //charts -->
<!--skycons-icons-->
<!--<script src="js/skycons.js"></script>
--><!--//skycons-icons-->


<!--test collapse-->
<!-- FastClick -->
<link rel="stylesheet" href="/images/libraries/common/css/custom.min.css" type="text/css"/>


<!-- Use non-conflicting mode to avoid conflicts with any existing JQuery Library or New One -->
<script type="text/javascript" src="/scripts/jquery-custom-1.4.2.min.js"></script> 
<script src="/scripts/jquery.autocomplete.js"></script>
<script type="text/javascript">
       //create this naming for Jquery 1.4.2 version
       var jQuery_1_4_2 = jQuery.noConflict(true);
</script>
<!-- ********JQuery Non-Conflicting library for autoComplete End******** -->

<link rel="stylesheet" type="text/css" href="/styles/autosuggest_style.css" />
        <!-- HTTP 1.1 -->
<!--<meta http-equiv="Cache-Control" content="no-store"/>-->
<!-- HTTP 1.0 -->
<!-- <meta http-equiv="Pragma" content="no-cache"/>-->
<!-- Prevents caching at the Proxy Server -->
<!-- <meta http-equiv="Expires" content="0"/>-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="generator" content="AppFuse 2.0" />
<!-- leave this for stats please -->
<link rel="icon" href="/images/favicon.ico" />
<script type="text/javascript">
		try 
		{			
			document.execCommand("BackgroundImageCache", false, true);
		}
		catch(err) 
		{}
</script>

           
     <script type="text/javascript">
     /* alert(#session.authz); */
     
$(document).ready(function(){
	$(".pageLoadContainer").hide();
});
     
     function ltrim(stringToTrim) 
     {
		return stringToTrim.replace(/(?:(?:^|\n)\s+|\s+(?:$|\n))/g,"").replace(/\s+/g," ");
	}
	function rtrim(stringToTrim) {
	return stringToTrim.replace(/(?:(?:^|\n)\s+|\s+(?:$|\n))/g,"").replace(/\s+/g," ");
}
     function renderTitle(){
     	element=document.getElementById("brdcrm");
     	var titleText="";
     	if(element!=null){
			  var ihtml=element.innerHTML;
		  	  var startTag=0;
		  	  var  endTag=0;
		  	  var spaceCheck="";
    	       for(i=0;i<ihtml.length;i++)
  				{

		    		if(ihtml.charAt(i) == "<" || ihtml.charAt(i) == "&"){
						startTag=1;
						endTag=0;
					}
					
					if(startTag==1){
						spaceCheck=spaceCheck+ihtml.charAt(i);
					}
					
					if(ihtml.charAt(i) == ">" || ihtml.charAt(i) == ";"){
						endTag=1;
						startTag=0;
						if(spaceCheck=="&nbsp;"){
							titleText="";
							spaceCheck="";
						}
						if(ihtml.charAt(i)==">"){
							spaceCheck="";
						}
					}
			
					if(endTag==1){
						if(ihtml.charAt(i) != "<" && ihtml.charAt(i) != "&"){
							if(ihtml.charAt(i) != ">" && ihtml.charAt(i) != ";"){
								titleText=titleText+ihtml.charAt(i);
								spaceCheck="";
							}
						}
					}
					
					
			
					
   			}
  		}
		
		//titleText=titleText.substring(titleText.indexOf(" "),titleText.length);
		titleText=ltrim(titleText);
		titleText=rtrim(titleText);
		
		if(titleText== "")
			{
	        document.title="Online Statistics Portal "+titleText;
			}
		else
		{
			document.title="Online Statistics Portal "+"->"+titleText;
		}
	     

     }
     
     </script>
     
</style>
<script type="text/javascript">
function toggle(node) {
	var nextDIV = node.nextSibling;
	while(nextDIV.nodeName != "DIV") {
		nextDIV = nextDIV.nextSibling;
	}
	if (nextDIV.style.display == 'none') {
		if (node.childNodes.length > 0) {
			if (node.childNodes.item(0).nodeName == "IMG") {
				node.childNodes.item(0).src = getImgDirectory(node.childNodes.item(0).src) + "open.gif";
			}
		}
		nextDIV.style.display = 'block';
	}
	else {
		if (node.childNodes.length > 0) {
			if (node.childNodes.item(0).nodeName == "IMG") {
  				node.childNodes.item(0).src = getImgDirectory(node.childNodes.item(0).src) + "close.gif";
			}
		}
		nextDIV.style.display = 'none';
	}
}

function getImgDirectory(source) {
    return source.substring(0, source.lastIndexOf('/') + 1);
}
</script>
    </head>

 <body  class="dashboard-page">

 <section class="wrapper scrollable">
 
 
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>


	<%= render :partial => '/layouts/header'%>

	<%= render :partial => '/layouts/side_bar_navigation'%>
 

<div class="pageLoadContainer" ></div>
         <div class="row-fluid" style="margin-bottom:50px; min-height:450px;">
		    <div class="span3">
		      <div class="sidebar-nav">
		  			 
		  	  </div>	  
			</div>
			<div class="main-grid" >
			   <div class="clearfix"></div>
 			  	
<script>
function generateUrl(pubcode,displayName,accountCode,format){ 
	var url="/"+pubcode+"/downloadFile/0/"+accountCode+"/"+format+"/"+displayName;
	return url; 
}
</script>
       <ol class="breadcrumb"> <li><a href="/libraries/dashboard">Home</a></li>
         <li>Export Data </li>         
        </ol>


	<h4 class="mb10">Export Data</h4>
	<div class="agile-Updating-grids">  <div class="agile-grids pad-top10">
	<div class="col-sm-12 ">
    <div class="page_content">
	 
	 </div>
    <div class="clearfix"></div>
  			<div class="row">       
			<h4 >Export Selected Platform List</h4>
            
			<div><%= link_to 'Click here', export_files_xlsx_path %> to download selected Platform List for your Account.</div> 
			</div>		  
	<div class="clearfix"></div>
  			<div class="row">           
			<h4 class="mb-10 mt-30">Export Platform Access Details</h4>
			<div><%= link_to 'Click here', export_files_csv_path %> to download Platform Access Details for your Account.</div> 
			</div>
	<div class="clearfix"></div>
			<div class="row">           
			<h4 class="mb-10 mt-30">Export Recent Report Collection Status</h4>

				<script type="text/javascript">
					var url=generateUrl('libraries','recent_report_collection_status','16','xlsx');
				 	document.write("<a	href="+"'"+url+"'"+">");
				</script>
				<%= link_to 'Click here', export_files_zip_path %> to download Recent Platform Report Collection Status for your Account.
			</div>
</div></div>
<div class="clearfix"></div>
</div>
 
 			</div>
 		  </div>

<!--  <div class="navbar navbar-inverse navbar-fixed-bottom version"> -->
<%= render :partial => '/layouts/footer'%>

    </section>
        	</body>
      
</html>
 