<%= render :partial => 'dynamicform'%>
<br>
<div style="overflow: auto;">
	<div class="agile-Updating-grids"> 
		<div class="agile-grids pad-top10">
			<div id="download" class="accordion-group blue_box" align="left">
				<div class="accordion-heading overlow" id="reportContent">
					<div class="accordion-group blue_box_heading" style="width: auto;">
						<div class="accordion-heading">
							<div style="color: black; margin-left: 1%;">
								Export Report As: &nbsp;&nbsp; 
								<span><a href="customDynamicReportShow?report=BR2&from=02/2014&to=08/2014&exportFileType=xls"	title="Export xls file"><%= image_tag ("xls.gif") %></a></span>
								<span><a href="customDynamicReportShow?report=BR2&from=02/2014&to=08/2014&exportFileType=csv"	title="Export csv file"><%= image_tag ("csv.gif") %></a></span>
								<span><a href="customDynamicReportShow?report=BR2&from=02/2014&to=08/2014&exportFileType=tsv" title="Export tsv File"><%= image_tag ("tsv.jpg") %></a></span>
								<br/>
							</div>
						</div>
					</div>
				</div>
				<div class="spaceContnet" align="left" style="margin-left: 1%">
					Consolidated Book Report 1, Consolidated COUNTER BR1 Report of all subscribed Platforms<br>UCR Riverside University Libraries<br> <br>Period covered by Report:<br>02-01-2014 to 08-31-2014<br>Date run:<br>01/13/2017
				</div>
				<div id="preview">
		 			<div class="table-responsive">
						<table id="list_records" class="table table-striped">
							<div id="pager"></div>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>

	<div class="clearfix">
		<div class="agile-grids">
			<div class="col-md-12" style="padding:0px;">
				<div class="span12">
					<div class="col-md-12" >
						<div class="well">
					    <div id="elementId" class="table-responsive ownTblContent">
								<table id="example">
									<thead>
										<tr>
											<% @report_columns.each do |report_column| %>
					      				<th><%= report_column %></th>
								      <% end %>
										</tr>
									</thead>

									<tbody>
										<% @report_data.each do |report_data| %>
									    <tr>
									      <td><%= report_data.id %></td>
									      <td><%= report_data.Book_Title %></td>
									      <td><%= report_data.Publisher %></td>
									      <td><%= report_data.Platform %></td>
									      <td><%= report_data.Collection_Platform %></td>
									      <td><%= report_data.Book_DOI %></td>
									      <td><%= report_data.Proprietary_Identifier %></td>
									      <td><%= report_data.Report_Measurement %></td>
									      <td><%= report_data.ISBN %></td>
									      <td><%= report_data.ISSN %></td>
									      <td><%= report_data.Report_Type %></td>
									      <td><%= report_data.Jan_2013 %></td>
									      <td><%= report_data.Feb_2013 %></td>
									      <td><%= report_data.Mar_2013 %></td>
									      <td><%= report_data.Apr_2013 %></td>
									      <td><%= report_data.May_2013 %></td>
									      <td><%= report_data.Jun_2013 %></td>
									      <td><%= report_data.Jul_2013 %></td>
									      <td><%= report_data.Aug_2013 %></td>
									      <td><%= report_data.Sep_2013 %></td>
									      <td><%= report_data.Oct_2013 %></td>
									      <td><%= report_data.Nov_2013 %></td>
									      <td><%= report_data.Dec_2013 %></td>
									      <td><%= report_data.Jan_2014 %></td>
									      <td><%= report_data.Feb_2014 %></td>
									      <td><%= report_data.Mar_2014 %></td>
									      <td><%= report_data.Apr_2014 %></td>
									      <td><%= report_data.May_2014 %></td>
									      <td><%= report_data.Jun_2014 %></td>
									      <td><%= report_data.Jul_2014 %></td>
									      <td><%= report_data.Aug_2014 %></td>
									      <td><%= report_data.Sep_2014 %></td>
									      <td><%= report_data.Oct_2014 %></td>
									      <td><%= report_data.Nov_2014 %></td>
									      <td><%= report_data.Dec_2014 %></td>
									      <td><%= report_data.Jan_2015 %></td>
									      <td><%= report_data.Feb_2015 %></td>
									      <td><%= report_data.Mar_2015 %></td>
									      <td><%= report_data.Apr_2015 %></td>
									      <td><%= report_data.May_2015 %></td>
									      <td><%= report_data.Jun_2015 %></td>
									      <td><%= report_data.Jul_2015 %></td>
									      <td><%= report_data.Aug_2015 %></td>
									      <td><%= report_data.Sep_2015 %></td>
									      <td><%= report_data.Oct_2015 %></td>
									      <td><%= report_data.Nov_2015 %></td>
									      <td><%= report_data.Dec_2015 %></td>
									      <td><%= report_data.Jan_2016 %></td>
									      <td><%= report_data.Feb_2016 %></td>
									      <td><%= report_data.Mar_2016 %></td>
									      <td><%= report_data.Apr_2016 %></td>
									      <td><%= report_data.May_2016 %></td>
									      <td><%= report_data.Jun_2016 %></td>
									      <td><%= report_data.Jul_2016 %></td>
									      <td><%= report_data.Aug_2016 %></td>
									      <td><%= report_data.Sep_2016 %></td>
									      <td><%= report_data.Oct_2016 %></td>
									      <td><%= report_data.Nov_2016 %></td>
									      <td><%= report_data.Dec_2016 %></td>
									    </tr>	
								  	<% end %>
									</tbody>
									<br>
					      </table>
							</div>
						</div>
					</div>
				</div> 
			</div>    	
		</div>
		<div class="clearfix"> </div>
	</div>	
</div>