
<!DOCTYPE html>
<head>
<title>Scholarly-stats</title>
<link rel="shortcut icon" href="images/favicon.ico">

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
--><!-- bootstrap-css -->
  <%= stylesheet_link_tag "bootstrap.css" %> 

<!-- //bootstrap-css -->
<!-- Custom CSS -->
  <%= stylesheet_link_tag "style.css" %> 

<!-- font CSS -->
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Raleway" %> 

<!-- font-awesome icons -->
  <%= stylesheet_link_tag "font.css" %> 

  <%= stylesheet_link_tag "font-awesome.css" %> 

<!-- //font-awesome icons -->
<%= javascript_include_tag "jquery2.0.3.min.js" %>

<%= javascript_include_tag "modernizr.js" %>

<%= javascript_include_tag "application.js" %>


  


  

</head>
<body  class="dashboard-page">
 
 
 <section class="wrapper scrollable">
  
  <%= render :partial => '/layouts/side_bar_navigation'%>

        <%= render :partial => '/layouts/header'%>
  
    <div class="main-grid">
        
        
        <ol class="breadcrumb"> <li><a href="" onclick="window.location = '/loginpage'">Home</a></li>
         <li><a href="/loginpage/sourcereports">Source Reports</a></li> 
        
        </ol>

<br>
          <h4>Source Reports
</h4>
<p class="pad-top10 mar-btm20">You need to choose the platform and reporting period to see source reports.
</p>


<div class="agile-Updating-grids"> 
  <div class="agile-grids pad-top10">
      <div class="col-md-3 mb10">
        <div class="form-group">
          <label>Platform</label>  

              <select class="form-control" id="dropdown1" >

                            <option>--Select Platform--</option>
                         <%= @source_reports.each do |f|%>
                    
                              <option><%= f.platform_id %></option>
                        <% end %>  
              </select>
        </div>
      </div>
      <div class="col-md-3">
          <div class="form-group">
            <label >Reporting period:</label>
                <select class="form-control" id="dropdown2">
                              <option>--Select Year--</option>
                </select>
          </div>
      </div>
     

                   
      <div class="col-sm-12 pad-top20">
                
                   Please click on Get Reports to find the desired platform reports.
      </div>
      <div class=" col-sm-2 mt-10">
          <div class="button raised">
               <a href="#" class="hoverable"> 
                 <div class="anim">
                  
                 </div>
                 <span>Get Reports</span>
                 <button data-remote="true" >ikojm</button>
             </a>
          </div>
      </div>  
          
    <br>


  </div>    
</div>
<br>




    <!-- footer -->

    <!-- //footer -->
  </section>
<div id="test3"></div>
  <%= javascript_include_tag "bootstrap.js" %>

    
  <script>
    $("#dropdown1").change(function(){
       var value1 = $('select#dropdown1 option:selected').val();
        $.ajax({
            type:"GET",
            url:"/loginpage/getyear",
            dataType:"json",
            data: {sourcereportsyear: value1 },
            success:function(result){
               $secondChoice = $("#dropdown2");
                $secondChoice.empty();
                $.each(result, function(index, value) {
                      $secondChoice.append("<option>" + value + "</option>");
                    // alert(value);
                });

                      
            }
        })
    });
  </script>


<!-- 
 <script>
  $("button").click(function(){
           var value2 = $('select#dropdown2 option:selected').val();
                alert("xdfdf");
           $.ajax({
               type: "GET", 
               // dataType: "json",
               url:"/loginpage/getreports",
               data: {sourcereports1: value2 }, 

               success:function(result1){
                     console.log(result1);


                     result1.forEach(function(){
                     $sourcerepo_html = $("<div class= 'result1'>" + result1 + "</div>");
                     $('#test1').append($sourcerepo_html);
                       // alert(result1);
                       // document.getElementById('test1').innerHTML = result1;
                       // $("#test1").html(result1);
                    $("#test1").html(result1);
                    // $("#test1").load("/loginpage/getreports");
                      })
                }
          })
  });
  // $('button').click(function(){
  //   var value2 = $('select#dropdown2 option:selected').val();
  //   $.ajax({
  //   type: "GET",
  //   url: "/loginpage/getreports",
  //   data:'sourcereports='+value2,
  //   success: function(data){
  //     alert(data);
  //   }
  //   });
  // });
                     $("#test1").html(result1);

                     $("#test2").append($sourcerepo_html);
                    $("#test2").load("/loginpage/getreports");
                    alert("loading page");
                      })
           alert(result1);
                    $.ajax({
                       type: "GET", 
                       dataType: "json",
                       url:"/loginpage/getreports2",
                       data: {sourcereports2: result1 },
                       success:function(abc){
                        console.log(abc);
                         abc.forEach(function(){
                           $sourcerepo1_html = $("<div class= 'abc'>" + abc + "</div>");
                           $('#test3').append($sourcerepo1_html);
                           $("#test3").html(abc);

                           $("#test").load()
                          })
                       }
                    })
                }
          })
            }
        })
    });
  </script>



 <script>
  $("button").click(function(){
           var value2 = $('select#dropdown2 option:selected').val();

           $.ajax({
               type: "GET", 
               dataType: "json",
               url:"/loginpage/getreports",
               data: {sourcereports: value2 }, 
               success:function(result1){
                     console.log(result1);
                    // $.ajax({
                    //    type: "GET", 
                    //    dataType: "json",
                    //    url:"/loginpage/getreports2",
                    //    data: {sourcereports2: result1 },
                    //    success:function(abc){
                    //     console.log(abc);
                    //      abc.forEach(function(){
                    //        $sourcerepo1_html = $("<div class= 'abc'>" + abc + "</div>");
                    //        $('#test3').append($sourcerepo1_html);
                    //        $("#test3").html(abc);

                    //        $("#test").load()
                    //       })
                    //    }
                    // })
                }
          })

             window.location.href='/loginpage/testing';
  });
 

</script>
 -->


</body>
</html>

 