<body  class="dashboard-page">

 <section class="wrapper scrollable">
 
    
  <%= render :partial => '/layouts/side_bar_navigation'%>

  <%= render :partial => '/layouts/header'%>
        

<ol class="breadcrumb"> <li><a href="" onclick="window.location = '/loginpage'">Home</a></li>
         <li><a href="/libraries/listSushiPartners/Lcollapsefour-04">Integration Partners</a></li> 
        
</ol>
<br>
<h4>Integration Partners</h4>
<div class="clearfix"></div>
<br>

<p class="pad-top10 mar-btm20">This section allows you to permit selected SUSHI enabled services to access your COUNTER reports and download them automatically using the SUSHI XML protocol. A red flag icon means no permissions are granted for that service and a green flag means that some or all permissions are granted for that service. To allow a service to access your reports click on the Manage SUSHI Permissions icon and choose the permissions that you want to grant.</p> 
  
<br>
<div class="agile-Updating-grids">  
    <div class="agile-grids pad-top10">
      
       <span class="pull-right white_text"><div class=" greenflag pull-left"> &nbsp;
       </div><div class="padding-left4px pull-left">                        <%= image_tag('per_granted.gif')%>
<small>Permissions Granted</small>
        </div>  <div class="redflag  pull-left margin_left14px">&nbsp;</div> 
        <div class="padding-left4px pull-left">                        <%= image_tag('red_flag.gif')%>
<small>Permissions Not Granted</small> </div>                
       
        <span class="padding_left15px"> &nbsp;</span>
        </span>

    <div class="col-md-12" style="padding:0px;">
      <div class="table-responsive ownTblContent">
      <table class="table table-striped">
              <thead>
                <tr>
            <th align="left"></th>
            <th align="left">Available SUSHI Partners</th>
            <th align="left">Partner Type</th>
            <th align="left">Manage SUSHI Permissions</th>
            <th align="left">Access details for your ERM system</th>
          </tr>
            </thead>
            <tbody>
                <% @sushi_partner_deatils.each do |sushi_detail| %>
                  <tr>
                    <% if sushi_detail.is_permitted == 0 %>
                      <td><a rel="tooltip" class="tooltip_txt" title="Permissions Not Granted"><div class=" redflag"> 
                        <%= image_tag('red_flag.gif')%>
                        &nbsp;</div></a></td>
                    <%else%>
                      <td><a rel="tooltip" class="tooltip_txt" title="Permissions  Granted"><div class=" redflag"> 
                        <%= image_tag('per_granted.gif')%>
                        &nbsp;</div></a></td>
                    <%end%>
                    <td><%= sushi_detail.name %></td>
                    <td> <%= sushi_detail.code %></td>
                    <!-- <td> <a class="icon-edit" href="/integration_partners/manage_sushi_account"></a> </td> -->
                    <td><%=link_to image_tag(''), {action: 'manage_sushi_account', controller: 'integration_partners', :@sushi_partner_id =>sushi_detail.id }, {class: 'icon-edit'} %></td>
                    <td>
                      
                                         -
                    </td>
                  </tr>
                <%end%>
                   
            </tbody>
          </table>
    </div>
  </div>
 </div>
<div class="clearfix"> </div>
</div>
             
      </div>
      </div>

<!--  <div class="navbar navbar-inverse navbar-fixed-bottom version"> -->
    <%= render :partial => '/layouts/footer'%>
    
    </section>
          </body>
      
      
      
</html>
 