
<!DOCTYPE html>
<html>
    <head>
      
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- bootstrap-css -->

         <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
        <link rel="SHORTCUT ICON" href="/images/favicon.ico" type="image/x-icon" />
        <title>Welcome to Online Statistics Portal</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">   
     <script type="text/javascript">
     /* alert(#session.authz); */
     
     
     function ltrim(stringToTrim) 
     {
    return stringToTrim.replace(/(?:(?:^|\n)\s+|\s+(?:$|\n))/g,"").replace(/\s+/g," ");
  }
  function rtrim(stringToTrim) {
  return stringToTrim.replace(/(?:(?:^|\n)\s+|\s+(?:$|\n))/g,"").replace(/\s+/g," ");
}
     function renderTitle(){
      element=document.getElementById("brdcrm");
      var titleText="";
      if(element!=null){
        var ihtml=element.innerHTML;
          var startTag=0;
          var  endTag=0;
          var spaceCheck="";
             for(i=0;i<ihtml.length;i++)
          {

            if(ihtml.charAt(i) == "<" || ihtml.charAt(i) == "&"){
            startTag=1;
            endTag=0;
          }
          
          if(startTag==1){
            spaceCheck=spaceCheck+ihtml.charAt(i);
          }
          
          if(ihtml.charAt(i) == ">" || ihtml.charAt(i) == ";"){
            endTag=1;
            startTag=0;
            if(spaceCheck=="&nbsp;"){
              titleText="";
              spaceCheck="";
            }
            if(ihtml.charAt(i)==">"){
              spaceCheck="";
            }
          }
      
          if(endTag==1){
            if(ihtml.charAt(i) != "<" && ihtml.charAt(i) != "&"){
              if(ihtml.charAt(i) != ">" && ihtml.charAt(i) != ";"){
                titleText=titleText+ihtml.charAt(i);
                spaceCheck="";
              }
            }
          }
          
          
      
          
        }
      }
    
    //titleText=titleText.substring(titleText.indexOf(" "),titleText.length);
    titleText=ltrim(titleText);
    titleText=rtrim(titleText);
    
    if(titleText== "")
      {
          document.title="Online Statistics Portal "+titleText;
      }
    else
    {
      document.title="Online Statistics Portal "+"->"+titleText;
    }
       

     }
     
     </script>
     
<script type="text/javascript">
function toggle(node) {
  var nextDIV = node.nextSibling;
  while(nextDIV.nodeName != "DIV") {
    nextDIV = nextDIV.nextSibling;
  }
  if (nextDIV.style.display == 'none') {
    if (node.childNodes.length > 0) {
      if (node.childNodes.item(0).nodeName == "IMG") {
        node.childNodes.item(0).src = getImgDirectory(node.childNodes.item(0).src) + "open.gif";
      }
    }
    nextDIV.style.display = 'block';
  }
  else {
    if (node.childNodes.length > 0) {
      if (node.childNodes.item(0).nodeName == "IMG") {
          node.childNodes.item(0).src = getImgDirectory(node.childNodes.item(0).src) + "close.gif";
      }
    }
    nextDIV.style.display = 'none';
  }
}

function getImgDirectory(source) {
    return source.substring(0, source.lastIndexOf('/') + 1);
}
</script>
    </head>

 <body  class="dashboard-page">
 <section class="wrapper scrollable">
 
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript">
function submitForm(){
  var formEL= document.getElementById("webmartForm"); 
  formEL.submit();
 
}
function generateProfileUrl(pubcode){
  loaderDiv = document.getElementById("loaderDivId");
  loaderDiv.style.display = "block";
  var url="/"+pubcode+"/updateYourAccount";
  /* document.forms['form1'].action=url;
  document.forms['form1'].method="post";
  document.forms['form1'].submit(); */
  //return url;

var formData = new FormData(document.getElementsByName('form1')[0]);// yourForm: form selector   
$.ajax({
    type: "POST",
    url: url,
    data: formData,
    processData: false,
    contentType: false,
    error: function(jqXHR, textStatus, errorMessage) {
       console.log(errorMessage); // Optional
    },
    success: function(data) {
      document.getElementById('profileModel').innerHTML = data;
      loaderDiv.style.display = "none";
       $('#myModalProfile').modal('show');
  } 
});
}
function useraction(url)
{ loaderDiv = document.getElementById("loaderDivId");
  loaderDiv.style.display = "block";
  
  //alert(url);
      var ajaxRequest; 
     try{
       // Opera 8.0+, Firefox, Safari
       ajaxRequest = new XMLHttpRequest();
     }catch (e){
       // Internet Explorer Browsers
       try{
          ajaxRequest = new ActiveXObject("Msxml2.XMLHTTP");
       }catch (e) {
          try{
             ajaxRequest = new ActiveXObject("Microsoft.XMLHTTP");
          }catch (e){
             // Something went wrong
             alert("Your browser broke!");
             return false;
          }}
       }
     if(ajaxRequest)
     {
      ajaxRequest.open("GET",url,true);
      ajaxRequest.send(null);
      ajaxRequest.onreadystatechange = function()
      {
      if(ajaxRequest.readyState==4 && ajaxRequest.status==200){
        //alert(ajaxRequest.responseText);
        document.getElementById('profileModel').innerHTML = ajaxRequest.responseText;
        loaderDiv.style.display = "none";
         $('#myModalProfile').modal('show');
      }
      }
     }
     else{
      alert("Your browser don't support AJax !");
     }
}

</script>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

  <%= render :partial => '/layouts/side_bar_navigation'%>
  <%= render :partial => '/layouts/header'%>


    <script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/drilldown.js"></script>
<script src="https://code.highcharts.com/modules/no-data-to-display.js"></script>


<!-- tables -->
<link rel="stylesheet" type="text/css" href="/images/libraries/css/table-style.css" />
<link rel="stylesheet" type="text/css" href="/images/libraries/css/basictable.css" />
<script type="text/javascript" src="/images/libraries/js/jquery.basictable.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
      $('#table').basictable();

      $('#table-breakpoint').basictable({
        breakpoint: 768
      });

      $('#table-swap-axis').basictable({
        swapAxis: true
      });

      $('#table-force-off').basictable({
        forceResponsive: false
      });

      $('#table-no-resize').basictable({
        noResize: true
      });

      $('#table-two-axis').basictable();

      $('#table-max-height').basictable({
        tableWrapper: true
      });
    });
</script>
<script type="text/javascript">
var isChanges=false;
function applyToAllCheckBox(formName, fieldName,cbvalue,edvalue)
{

  if(!document.forms[formName])
    return;
  var objCheckBoxes = document.forms[formName].elements[fieldName];
  if(!objCheckBoxes)
    return;
  var countCheckBoxes = objCheckBoxes.length;
  if(!countCheckBoxes){
    objCheckBoxes.checked = cbvalue;
    objCheckBoxes.disabled = edvalue;
  }
  else{
    // set the check value for all check boxes
    for(var i = 0; i < countCheckBoxes; i++){
        objCheckBoxes[i].checked = cbvalue;
        objCheckBoxes[i].disabled = edvalue;
    }
  }
  
}


function clearURL(pubcode,id)
{
             document.location="/"+pubcode+"/clearAllSushiAccount/"+id;
}

function checkChange(){

  if(isChanges==true){
    //alert("You have made some changes. press update before moving to another screen");
  }

}

function setStatusChanged(){
  isChanges=true;
}

function drildownURL(pubcode,sid,aid){
  document.forms['permissionForm'].action="/"+pubcode+"/update_permission/"+sid+"/"+aid;
  document.forms['permissionForm'].submit();

}

function submitFormSushi(){
  var url = '/libraries/savePermission';
  
  document.forms['permissionForm'].action = url;
  document.forms['permissionForm'].method = "post";
  document.forms['permissionForm'].submit();
}

</script>
<ol class="breadcrumb"> 
  <li><a href="/libraries/dashboard">Home</a></li>
  <li><a href="/libraries/listSushiPartners/Lcollapsefour-04">Integration Partners</a></li>
  <li>Select SUSHI Permissions</li>
</ol>
<h4>Select SUSHI Permissions</h4>
<div class="clearfix"></div>
<p class="pad-top10 mar-btm20">This section allows you to grant SUSHI permissions for all accounts you have access to, or selected accounts.  Click on an account name to drill down and set more granular permissions</p>

<!-- <form name="permissionForm"  id="permissionForm"> -->
<%= form_tag(update_permission_integration_partners_path, :id=>"permissionForm", :name=>"permissionForm", method: :get) do %>
<div class="agile-Updating-grids">  
  <div class="agile-grids">
    <div class="col-md-12" style="padding:0px;">
      <div class="row"> 
        <div class="col-md-2">
                      <div class="radio">
                  <label>
                
                  <input
                    type="radio" name="selection" id="radio2" value="1" 
                    onclick="applyToAllCheckBox('permissionForm','selectedAcountId',true,true);" 
                    onselect="applyToAllCheckBox('permissionForm','selectedAcountId',true,true);" />
                 Select All Permissions</label>
                </div>
                          
              </div>
                      
                       
                      <div class="col-md-2">
                      <div class="radio">
                  <label>
                        
                
                  <input name="selection"
                  type="radio" id="radio3" value="3" 
                  onclick="applyToAllCheckBox('permissionForm','selectedAcountId',false,true);" 
                  onselect="applyToAllCheckBox('permissionForm','selectedAcountId',false,true);"/>
                 Clear All Permissions</label>
              </div>
            </div>
                       
                      <div class="col-md-2">
                      <div class="radio">
                  <label>
                
                      
                  
                    <input name="selection"
                    type="radio" id="radio3" value="2" checked="checked"
                    onclick="applyToAllCheckBox('permissionForm','selectedAcountId',false,false);" 
                    onselect="applyToAllCheckBox('permissionForm','selectedAcountId',false,false);"/>
                  
                  
                 Select from Below List
              </label>
              </div>
              </div>
          </div>
      <div class="clearfix"></div>
      <div class="row mt-30">
            <div class="col-md-6">
              <h4 >SUSHI Permissions for :&nbsp;<strong>Serials Solutions
                
              </h4>
            </div>
        <div class="col-md-4 pull-right text-right removeTblFrmt">
            

               <table border="0" align="right" cellpadding="0" cellspacing="0" class="small11">
                <tr>
                 
                 
                   <td><%= image_tag("Consortia.gif")%></td>
                   <td>&nbsp;</td>
                   <td>Consortia</td>
                   <td>&nbsp;</td>
                 
                   <td><%= image_tag("Institution.gif")%></td>
                   <td>&nbsp;</td>
                   <td>Institution</td>
                   <td>&nbsp;</td>
                 </tr>
        </table>
 
        </div>
       
        </div>
     
        <div class="table-responsive ownTblContent">
    <table class="table table-striped"  id="accountList">
          <thead>
            <tr>
              <th align="left">Accounts</th>
              <th align="left">SUSHI permissions</th>
          </tr>
          </thead>
          <tbody>
          
            <tr>
            <td data-th="Name">
      <%= image_tag("Institution.gif")%>
                 
                   <%= @edit_sushi_partner.name %>
                    
        <!-- Click to Drill Down begin -->          
                    
       </td>
             <td data-th="Age">   
                      <%#= check_box_tag 'is_permitted'%>
                      <input id="is_permitted" name="selectedAcountId" type="checkbox"
                      value="17" />
                    
                </td>
          </tr>
          
        </tbody>
      </table>
      </div>
      <div class="row">
        <input type="hidden" name="id" value=<%= @edit_sushi_partner.id %> id="partners_id"/>
        <input type="hidden" name="spid" value="172622" id="spid"/> 
        <input type="hidden" name="publisher" value="libraries" id="publisher"/>
    <input type="hidden" name="onscrIds" value="17" id="onscrIds"/> 
      
      
         <div class="col-md-12">
                   <div class=" col-sm-2 mt-10 pad-left0">
            <div class="button raised">
                <button type="submit" class="positive">
                Save
              </button>
              </div>
          </div>
                    <div class=" col-sm-2 mt-10 pad-left0">
            <div class="button raised">
                <a href="javascript:;" id="buttonId" class="hoverable" onclick="applyToAllCheckBox('permissionForm','selectedAcountId',false)"> <div class="anim"></div><span>Reset</span></a>
              </div>
          </div>
                </div>
      
      </div>
      </div>
      </div>
 <div class="clearfix"></div>
</div>
<%end%>
 
      </div>
      </div>

<div id = "div1"></div>
          
<!--  <div class="navbar navbar-inverse navbar-fixed-bottom version"> -->
<%= render :partial => '/layouts/footer'%>
      <!-- <p>© 2016  . All Rights Reserved . Design by <a href="#">MPS</a></p> -->
  
</div>
</div>
</div>
    </section>
 </body>      
      
</html>
 