<!DOCTYPE html>
<html>

 <body  class="dashboard-page">
 	
 <section class="wrapper scrollable">
 <%= render :partial => '/layouts/side_bar_navigation'%>
  <%= render :partial => '/layouts/header'%>

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>



<!-- new header -->
		
		
	
    <!-- Modal -->
 <div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
   

</div>
    </div>

  </div>
</div> 

<!-- model for profile -->
<div id="myModalProfile" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Update Your Account</h4>
      </div>
      <div class="modal-body" id="profileModel">
      </div>
    </div>

  </div>
</div> 



         <div class="row-fluid" style="margin-bottom:50px; min-height:450px;">
		    <div class="span3">
		      <div class="sidebar-nav">
		  			 
		  	  </div>	  
			</div>
			<div class="main-grid" >
			   <div class="clearfix"></div>
 			  	


<!-- tables -->
<link rel="stylesheet" type="text/css" href="/images/libraries/css/table-style.css" />
<link rel="stylesheet" type="text/css" href="/images/libraries/css/basictable.css" />
<script type="text/javascript" src="/images/libraries/js/jquery.basictable.min.js"></script>


<ol class="breadcrumb"> 
 	<li><a href="/libraries/dashboard">Home</a></li>
	<li><a href="/libraries/listSushiPartners/Lcollapsefour-04">Integration Partners</a></li>
	<li>Select SUSHI Permissions</li>
</ol>
<h4>Select SUSHI Permissions</h4>
<div class="clearfix"></div>
<p class="pad-top10 mar-btm20">This section allows you to grant SUSHI permissions for all accounts you have access to, or selected accounts.  Click on an account name to drill down and set more granular permissions</p>

<form method="post" action="/libraries/savePermission" name="permissionForm"	id="permissionForm">
<div class="agile-Updating-grids">  
	<div class="agile-grids">
		<div class="col-md-12" style="padding:0px;">
			<div class="row"> 
				<div class="col-md-2">
              				<div class="radio">
								  <label>
								
									<input
										type="radio" name="selection" id="radio2" value="1" 
										onclick="applyToAllCheckBox('permissionForm','selectedAcountId',true,true);" 
										onselect="applyToAllCheckBox('permissionForm','selectedAcountId',true,true);" />
								 Select All Permissions</label>
								</div>
              						
							</div>
              				 
              				<div class="col-md-2">
              				<div class="radio">
								  <label>
									<input name="selection"
									type="radio" id="radio3" value="3" 
									onclick="applyToAllCheckBox('permissionForm','selectedAcountId',false,true);" 
									onselect="applyToAllCheckBox('permissionForm','selectedAcountId',false,true);"/>
								 Clear All Permissions</label>
							</div>
						</div>
              				 
              				<div class="col-md-2">
              				<div class="radio">
								  <label>
								
										<input name="selection"
										type="radio" id="radio3" value="2" checked="checked"
										onclick="applyToAllCheckBox('permissionForm','selectedAcountId',false,false);" 
										onselect="applyToAllCheckBox('permissionForm','selectedAcountId',false,false);"/>
									
									
								 Select from Below List
							</label>
							</div>
							</div>
        	</div>
			<div class="clearfix"></div>
			<div class="row mt-30">
        		<div class="col-md-6">
          		<h4 >SUSHI Permissions for :&nbsp;<strong>Serials Solutions
          			
          		</h4>
       			</div>
        <div class="col-md-4 pull-right text-right removeTblFrmt">
        	  
 
               <table border="0" align="right" cellpadding="0" cellspacing="0" class="small11">
               	<tr>
                 

                   <td><img src="/images/Consortia.gif"/></td>
                 
                   <td><%= image_tag("Consortia.gif")%></td>
                   <td>&nbsp;</td>
                   <td>Consortia</td>
                   <td>&nbsp;</td>
                 
                 
                   <td><%= image_tag("Institution.gif")%></td>
                   <td>&nbsp;</td>
                   <td>Institution</td>
                   <td>&nbsp;</td>
 
                 </tr>
				</table>
 
        </div>
       
        </div>
     
        <div class="table-responsive"> 
		<table class="table table-striped"  id="accountList">
          <thead>
            <tr>
            	<th align="left">Accounts</th>
            	<th align="left">SUSHI permissions</th>
         	</tr>
          </thead>
          <tbody>
        	
          	<tr>
            <td data-th="Name">
			<%= image_tag("Institution.gif")%>
                 
									 UCR Riverside University Libraries&nbsp;-&nbsp;
										16&nbsp;			
										
			 </td>
             <td data-th="Age">
											<input name="selectedAcountId" type="checkbox"
											value="17" 
											onclick="setStatusChanged()"/>
										
								</td>
          </tr>
          
        </tbody>
      </table>
      </div>
      <div class="row">
        <input type="hidden" name="spid" value="172622" id="spid"/> 
        <input type="hidden" name="publisher" value="libraries" id="publisher"/>
		<input type="hidden" name="onscrIds" value="17" id="onscrIds"/> 
			
			
			   <div class="col-md-12">
                   <div class=" col-sm-2 mt-10 pad-left0">
 						<div class="button raised">
   							<a href="javascript:;" id="button" class="hoverable" onclick="submitFormSushi();"> <div class="anim"></div><span>Update</span></a>
    					</div>
					</div>
                    <div class=" col-sm-2 mt-10 pad-left0">
 						<div class="button raised">
   							<%= button_tag "Cancel", :type => 'button' %>
    					</div>
					</div>
                </div>
			
      </div>
      </div>
      </div>
 <div class="clearfix"></div>
</div>
</form>
 
 			</div>
 		  </div>
        	
	<%= render :partial => '/layouts/footer'%>
    </section>
        	</body>
      
      
      
</html>
 