	<nav class="main-menu">
		<ul>
			<li>
					<i class="fa fa-home nav_icon"></i>
					<span class="nav-text"><a href="" onclick="window.location = '/loginpage'">Home</a>
					
					</span>
				</a>
			</li>
			
		  <li class="has-subnav">
				<a href="javascript:;">
				<i class="fa fa-bar-chart nav_icon"></i>
				<span class="nav-text">
				Reports
				</span>
				<i class="icon-angle-right"></i><i class="icon-angle-down"></i>
				</a>
				<ul>
					<li>
						<a class="subnav-text" href="" onclick="window.location = '/counter_and_custom_reports/show'">COUNTER and Custom Reports</a>
					</li>
					<li>
						<a class="subnav-text" href=""  onclick="window.location = '/loginpage/sourcereports'">Source Reports</a>
					</li>
                    <li>
					  <a class="subnav-text" href="" onclick="window.location = '/loginpage/dynamicreports'">Dynamic Reports</a>
					</li>
					<li>

					  <a class="subnav-text" href="" onclick="window.location = '/search_by_issn/show'">Search By ISSN/ISBN</a>

					</li>
				</ul>
			</li>
			<li class="has-subnav">
				<a href="javascript:;">
					<i class="fa fa-file-text-o nav_icon"></i>
						<span class="nav-text">Administrative Features</span>
					<i class="icon-angle-right"></i><i class="icon-angle-down"></i>
				</a>
				<ul>
					<li>
						<a class="subnav-text" href="" onclick="window.location = '/loginpage/selectedplatforms'">
							Selected Platforms
						</a>
					</li>
					<li>
						<a class="subnav-text" href="" onclick="window.location = '/loginpage/accessdetails'">
							Access Details
					  </a>
					</li>
					<li>
						<a class="subnav-text" href="" onclick="window.location = '/library_account_details'">
								Library Account Details						</a>
					</li>
					<li>
						<a class="subnav-text" href="" onclick="window.location = '/integration_partners'">
								Integration Partners						</a>
					</li>
                    	<li>
						<a class="subnav-text" href="" onclick="window.location = '/users/index'">
								Create Additional User Accounts						</a>
					</li>	<li>
						<a class="subnav-text" href="" onclick="window.location = '/import_data'">
								Upload Data						</a>
					</li>	<li>
						<a class="subnav-text" href="" onclick="window.location = '/export_files'">
								Export Data						</a>
					</li>
				</ul>
			</li>
            
            
            <li class="has-subnav">
				<a href="javascript:;">
				<i class="fa fa-info-circle nav_icon"></i>
				<span class="nav-text">
				Support
				</span>
				<i class="icon-angle-right"></i><i class="icon-angle-down"></i>
				</a>
				<ul>
					<li>
						<a class="subnav-text" href="" onclick="window.location = '/support/contactus'">Contact Us</a>
					</li>
					<li>
						<a class="subnav-text" href="" onclick="window.location = '/support/faq'">FAQs</a>
					</li>
          			<li>
						<a class="subnav-text" href="" onclick="window.location = '/support/aboutus'">About Us</a>
					</li>					
				</ul>
			</li>
			
	  </ul>
			</li>
		</ul>
		<ul class="logout">
			<li>
			<a href="/users/sign_out" data-method="delete" rel="nofollow">
			<i class="icon-off nav-icon"></i>
			<span class="nav-text">
			Logout
			</span>
			</a>
			</li>
			
			
		</ul>
	</nav>

<%= javascript_include_tag "custom.min.js" %>


<%= javascript_include_tag "https://code.highcharts.com/highcharts.js"%>
<%= javascript_include_tag "https://code.highcharts.com/modules/exporting.js"%>
<%= javascript_include_tag "https://code.highcharts.com/modules/drilldown.js"%>
<%= javascript_include_tag "https://code.highcharts.com/modules/data.js"%>